[2017-01-18 11:01] vwong opened #2 "AU - NSW holidays"
According to http://www.industrialrelations.nsw.gov.au/oirwww/NSW_public_holidays/NSW_Public_Holidays.page (which is already in your code comments), there is no public holiday on 31st December for AU/NSW, yet the code has got it specified.  Why is this so?

Also, `npm test` doesn't pass when I tried running it (even without modifications), I get lots of errors, mostly off by half an hour, so I was

[2017-01-18 19:51] commenthol commented on #2
Hi vwong, Thanks for your remark. I fixed New Year's Eve to type=observance and added the Bank Holiday on 1st Monday in August. Can you please review if that's correct.
Regarding tests, there has been updates to moment-timezone for Turkey and Venezuela as they somehow decided to change there time offset. I fixed these tests as well. Currently published is v0.1.6 which includes these fixes.

[2017-01-18 20:13] vwong commented on #2
Thanks! I was interested only in public holidays, but Bank Holidays are good too.  All looks good to me.

Re timezones: I assume it uses system timezone data?

[2017-01-18 20:13] #2 closed

[2017-01-18 20:46] commenthol commented on #2
No system-timezone-data is used. The module moment-timezone provides them.
[code]
should give you the public holidays only.

[2017-01-18 21:22] vwong commented on #2
Sweet! Thanks

[2017-04-25 09:53] pke opened #5 "Provide better scaling data files"
Thanks for setting up this project!
I'd like to use it but I only need the holidays of a certain set of countries.
The current https://github.com/commenthol/date-holidays/blob/master/data/holidays.json contains all countries/regions and translations.
Since I am aiming to keep my app bundle size at a small size I wonder if we could organize the data json differently?

While I could implement a pre-

[2017-04-26 19:08] commenthol commented on #5
@pke agreed. I am preparing a script right now which allows to pick/ omit the countries you require for a custom build.

[2017-04-26 19:41] commenthol commented on #5
v0.1.9 includes the requested - please check the new section in README.md.

[2017-04-26 19:41] #5 closed

[2017-05-02 20:19] jamesdixon opened #10 "proposal: unique identifier for holiday"
Hi again,

I wanted to run something by you to see what you thought or if you have a better solution.

In my use case, I need to be able to automatically apply holiday surcharges to appointments that fall on a holiday. Each business has a list of observed holidays, so when a customer schedules an appointment, I first need to check to see if the business observes the holiday and if they do, then ch

[2017-05-02 20:34] commenthol commented on #10
The holiday names for all countries are indeed unique. So the name is the identifier. To lookup the data you can just restrict all names to be in english, using `new Holidays(country, {languages: ['en']})`. Usually all countries should have an english name as fallback.

[2017-05-02 20:51] jamesdixon commented on #10
Agreed that it works, but I feel that a numeric id or something similar is probably a safer bet and a bit lighter from a data perspective.

That said, not a big deal, but wanted to throw it out there.

Great work on this library 👍

[2017-05-03 20:29] leipert opened #13 "Easter sunday and Pentacoste sunday are inconsistent in DE."
The following problem is not fixed in #12. Do you think it is fix worthy?

Only DE-BB observes `easter` and `easter 49` as public holidays. ([source][1], easter sunday and pentecoste sunday are not marked bold)

[1]: https://de.wikipedia.org/w/index.php?title=Gesetzliche_Feiertage_in_Deutschland&oldid=165137747#.C3.9Cbersicht_aller_gesetzlichen_Feiertage

[2017-05-03 20:35] leipert opened #14 "Technically every sunday is a holiday in `DE-HE`"
This is not fixed in #12:

Technically every sunday is a holiday in `DE-HE`.

Source: http://www.datumsrechner.de/gesetze/Hessen.pdf

I do not know how you want to handle this.

[2017-05-06 18:14] commenthol commented on #13
IMHO this makes sense to fix this. In this case Easter and Pentecost should be of type `observance` for DE, but remain `public` for DE-bb. Thanks for rising.

[2017-05-06 18:19] commenthol commented on #14
Sorry, there is no rule for that yet. I don't know if this is really of relevance in this lib as it would "pollute" the real information a user would like to see. Legally seen the it would be correct to show each Sunday in the list. I am undecided in this case.

[2017-05-06 18:21] commenthol commented on #10
Due to reasons of extra efforts of constantly maintaining those proposed Ids I am closing this Issue.

[2017-05-06 18:21] #10 closed

[2017-05-23 08:17] arty-name opened #16 "Reformation Day is doubled in some states of Germany"
[code]
produces following output:
[code]

I guess it has something to do with it being celebrated as the country-wide holiday in 2017 only

[2017-06-06 14:38] Maybach91 commented on #14
I agree with @commenthol that it would be a kind of pollution. But i need the option to declare the sundays as holiday too. Or just to check if the selected date is a sunday. Is there any option for this?

[2017-06-07 15:41] commenthol commented on #16
Is fixed with #19

[2017-06-07 15:41] #16 closed

[2017-06-07 15:42] commenthol commented on #13
Fixed with PR #18

[2017-06-07 15:42] #13 closed

[2017-06-07 15:51] commenthol commented on #14
@Maybach91 No there is no such option. As you are checking date by date I would recommend to use the `new Date(dateStr).getDay() === 0` comparison instead of checking the localized string.

[2017-06-09 08:02] arty-name commented on #16
Thanks!

[2017-06-12 08:20] Celadora opened #20 "Request for Hanukkah"
We request that Hanukkah be added, if that is possible, given that the dates change each year. Thank you!

[2017-06-12 14:14] commenthol commented on #20
Yes this can be done. Can you please give me some details to which country, state, region this should be added?

[2017-06-24 09:01] Celadora commented on #20
Los Angeles California, US would be ideal for my current uses. Thank you!

[2017-06-28 17:27] Fullchee opened #22 "Boxing Day spelled incorrectly as Boxingday"
https://github.com/commenthol/date-holidays/blob/master/data/names.yaml#L264

[2017-07-01 10:16] commenthol commented on #22
Thanks. v1.0.1 fixes the Issue.

[2017-07-01 10:16] #22 closed

[2017-08-21 19:06] kodie opened #24 "[Feature Request] holiday function for searching for holidays using keywords"
Hi there! I am the maker of https://github.com/kodie/moment-holiday and I'm considering switching my holiday source to your package here. Unfortunately, this package is missing one feature that I need, to be able to search for holidays using keywords.

I could implement this in my package and have something like keywords.json in it, but I think it would be better for everyone if the keywords were

[2017-08-22 19:24] commenthol commented on #24
Hi @kodie, thanks for your feature request. To be honest I do not fully understand the need for maintaining your requested keyword list. I understand to filter/search for holidays is a nice to have and should be possible to implement as some sort of postfilter across the available langs. As I still plan to support holidays across the world, I fear the additional effort of supporting those keywords

[2017-08-24 17:02] kodie commented on #24
@commenthol I understand not wanting to maintain keywords. I would also probably suggest minimal testing for keywords (ie, just test a couple of keywords to make sure the function is working correctly). I suppose I could create an add-on package, something like `date-holidays-search` if you don't wish to implement this functionality into your package.

[2017-08-24 18:04] kodie commented on #24
@commenthol Nevermind this. I have decided to work on a package that extends your package and adds additional functionality. However, one thing that is stopping me is [this issue](https://github.com/commenthol/astronomia/issues/2) with your [astronomia](https://github.com/commenthol/astronomia) package.

[2017-08-24 18:04] #24 closed

[2017-08-31 16:19] kodie opened #26 "isHoliday() returning holidays on wrong days"
Hey! So I'm a little confused on how to get `isHoliday()` working correctly.

I know that it respects timezones but I'm still having troubles getting it to return the correct days.

Here is the code I have:

[code]

And as you can see it returns New Year's Day for January 2nd, however, New Year's Day is actually on January 1st, therefore it should return false.

I'm pretty sure this has something

[2017-09-03 06:50] commenthol commented on #26
All holidays life in their respective timezone. So assume you living in Honolulu and me in London.
You are with the fireworks at UTC "2016-12-31T14:00Z" while I am still preparing for New Years Eve.
While me celebrating New Year UTC "2017-01-01T00:00Z" you are maybe already dreaming of all the awesome things you are planing to do in this year. Your local time is then "2017-01-01 10:00".

In your c

[2017-09-05 13:15] kodie commented on #26
I see. Thank you for the clarification!

[2017-09-05 13:15] #26 closed

[2017-09-08 13:56] christiandohnert-misterspex opened #27 "Berlin is missing"
Hi,

there is no state 'Berlin' in the country 'DE'. In fact Berlin is a state of it's own and has different holidays than Brandenburg.

[2017-09-10 08:22] commenthol commented on #27
Fixed within #28

[2017-09-10 08:22] #27 closed

[2017-12-29 19:05] rinaldoleone opened #33 "Minifing error with create-react-app"
Hi,
First of all, thank you for this module! When I try to use it with _create-react-app_, an errror occurs during the npm run build command. It says:

[code]
Any help?

Thank you!

[2017-12-29 22:47] commenthol commented on #33
Please use in your webpack config:

[code]

please take a look here:
<https://webpack.js.org/configuration/resolve/#resolve-mainfields>

[2018-02-06 22:33] tdrake-cb opened #34 "Error date-holidays-parser/src/CalEvent in ? - Expected identifier"
I am getting the following error when in Internet Explorer 11.

Error date-holidays-parser/src/CalEvent in ? - Expected identifier

This is for the following line.

```const {isDate} = require('./internal/utils')```

My guess is it is interpreting the destructuring assignment as an object. My project is based off of react-boilerplate and is using babel-polyfill instead or core-js, not sure if that

[2018-02-07 05:56] commenthol commented on #34
Hi,

This seams to be related to the webpack config as IE11 requires ES3.

Please use in your webpack config:

[code]

please take a look here:
https://webpack.js.org/configuration/resolve/#resolve-mainfields

[2018-03-23 21:04] commenthol commented on #34
Closing...
(no feedback is considered as good news)

[2018-03-23 21:04] #34 closed

[2018-03-23 21:04] commenthol commented on #33
Closing...

[2018-03-23 21:04] #33 closed

[2018-04-06 09:55] kneza23 commented on #33
Webpack config is hidden from developer when you use create-react-app. It's meant to work out of the box. So the problem is not solved. :). Anyone solved this problem without editing webpack config?

[2018-04-09 00:00] piotr-s-brainhub commented on #20
IMO the most appropriate would be Israel.

[2018-04-09 00:13] oprogramador opened #36 "support for Israel"
I would like a support for the public holidays of the State of Israel (as `IL: 'ישראל'`).
The list: https://www.timeanddate.com/holidays/israel/

If you don't have enough time, I can open a PR.

[2018-04-09 04:32] commenthol commented on #36
Yes please. PR is welcome.

[2018-04-12 10:28] kneza23 opened #37 "Failed to minify the code"
When using create-react-app there is problem with minifying.
`./node_modules/date-holidays-parser/src/CalEvent.js:3 `

Please read more here: http://bit.ly/2tRViJ9

Ps. we can't edit webpack config file in create-react-app environment.

[2018-04-14 16:59] commenthol commented on #37
Could you please try with v1.2.5 and post your findings here?

[2018-04-16 19:52] tdrake-cb opened #38 "Getting Error: Cannot read property 'split' of undefined"
The project I'm working on uses date-holidays and it just started throwing the following error, looks to be associated with caldate's recent changes.
<img width="852" alt="screen shot 2018-04-16 at 1 51 19 pm" src="https://user-images.githubusercontent.com/23317527/38831663-5088d364-417d-11e8-9f65-49dd498a62d1.png">

any ideas?

[2018-04-16 21:17] tdrake-cb commented on #38
also, unfortunately I cannot use the module's previous versions for a fix because it's dependencies are not locked down and use the latest releases of date-holidays-parser and caldate

[2018-04-17 04:07] commenthol commented on #38
Did you try deleting node_modules using a clean install?

[2018-06-29 09:29] commenthol commented on #37
closing...

[2018-06-29 09:29] #37 closed

[2018-07-30 14:26] dominikstohl opened #40 "get Holidays without Year"
Hello, is it possible to get the Holidays without providing a year, just the data from the holidays.json?

[2018-07-30 14:29] dominikstohl opened #41 "provide custom holidays for isHoliday()-Check"
Hey everyone, as in moment-holidays (https://github.com/kodie/moment-holiday#isholiday), is it possible to provide a custom holidays-array (or something equal) for check the input-Date.
My use case is to "validate" dates provided by client, so its not always matching with the official dates (sometimes they're open, even if there are holidays)
Or do you have another idea to realize this?

Thanks! D

[2018-07-30 14:54] dominikstohl commented on #41
maybe another option: is it possible to get a holiday date by name, so I could i.e. save "Christmas" and can check the date with normal Date-Functions?

[2018-07-30 17:22] commenthol commented on #40
Yes of course. Require the holidays.json file directly in your code.

[2018-07-30 17:57] dominikstohl commented on #41
Is setHoliday() overwriting the existing rules? How can I delete als existing routes and add a set of rules?

[2018-07-30 19:34] commenthol commented on #41
Use the parser with your own ruleset. Check the implementation of date-holidays but use your own holidays.json file. That should do the trick.

[2018-07-31 10:49] dominikstohl commented on #41
Thanks for providing this awesome tool and your fast help. Your input was very good. :)

[2018-07-31 10:49] #41 closed

[2018-07-31 10:49] dominikstohl commented on #40
Thanks for providing this awesome tool and your fast help. Your input was very good. :)

[2018-07-31 10:49] #40 closed

[2018-08-09 13:41] argasek commented on #36
@oprogramador Any progress on this?

[2018-08-09 16:20] oprogramador commented on #36
@argasek currently I have no enough time

[2018-09-19 07:50] tonakai opened #44 "TypeError when using with the provided Typescript Typings"
Hi,
when I try to use the version 1.2.8 via typescript I am getting the following error:
[code]

TS File, which I've based it on the test file in typescript folder:
[code]

generated js looks like this:
[code]

[2018-09-21 18:56] commenthol commented on #44
Hi, I personally don't use typescript in my projects so I can't help with this. Sorry...
@johnolos could you please help here?

[2018-11-09 11:53] johnolos commented on #44
I'll take a look once I got time. Just saw this now.

For the record, we use this in our code-base and it's working just fine. What TypeScript version are you using?

Our tsconfig.json
[code]

[2018-11-09 18:47] mswilson4040 opened #45 "Doesn't compile with commonjs"
I'm using date-holidays in my angular project. Everything works fine but my unit tests all fail after importing it. It looks like date-holidays won't compile with commonjs module:

Here is my tsconig.spec

[code]

[2018-11-09 18:51] mswilson4040 commented on #45
This is the same error message found in #44 but different issue

[2018-11-12 15:48] johnolos commented on #45
I could take a look.

Could you provide a minimalistic repo for me to test out?
As stated in the other issue, for me this works as intended; although I use 'es2015'.

Or even better, if you find the underlying issue, a PR is surely welcome!

[2018-11-13 23:02] mswilson4040 commented on #45
I upgraded to Angular 7 and this issue has gone away. This version comes with some upgrades to some of the testing dependencies angular uses (Karma/Jasmine) which likely fixed itself. This can be closed.

[2018-11-13 23:03] #45 closed

[2018-11-16 18:38] commenthol opened #47 "CH: Swiss Stefanstag needs new rule"
Kanton Uri, Kanton Appenzell A. Rh. and Kanton Appenzell I. Rh. require a new rule that holiday 12-26 (Stefanstag) is a holiday only if not falling on a Monday or Friday.

[2018-11-28 10:00] bherzig-nist opened #48 "DE-BE: All Hallows no holiday"
The 1st of November is the 'All Hallows' (Allerheiligen) holiday. For Berlin - Germany this is no holiday.
The library also detects the 2nd of November as the same holiday.

[2018-11-28 10:14] bherzig-nist commented on #48
Sorry I haven't had a closer look at the result of the test. The type tells what it is 👍

[2018-11-28 10:14] #48 closed

[2018-11-30 14:50] MrMoronIV opened #49 "How to get working in browser"
Hi,

I'm at loss, how would one get this script to work in a regular browser?
Do I really need node to get this script going or can I use it at the frontend as well?
It's suggested it is possible but how?

Aren't there some ready to grab script files I can inlcude on my page, include some locales and work with it?

[2018-12-04 22:32] commenthol commented on #49
Hi, please clone the repo, check the folder examples/browser and follow the README. Feel free to inspect the code there as well. This should give you a sample on how to integrate in the browser. Please bear in mind that the full lib is not lightweight in size.
On the other hand you may want to bundle with webpack `npm run webpack` may give to the script files you like to grab...
You may consider s

[2018-12-04 22:33] commenthol commented on #44
@tonakai Any news on this issue from your side?

[2018-12-05 16:08] gerryster opened #51 "Missing Summer bank holiday in Northern Ireland"
According to https://www.gov.uk/bank-holidays#northern-ireland, the Summer bank holiday is observed in Northern Ireland. However, when I scope to GB and the NIR (Norther Ireland) region, that holiday does not appear:

[code]

Note that it does work correctly for England:

[code]

[2018-12-07 14:31] ScottChapman opened #52 "How to define a custom holiday?"
I need to add "The day after Independence day" for one state. I think I see in the YAML where I would do it (though I am not 100% certain on what the format would look like).

What I don't understand is how I can add that without essentially hacking the existing YAML file?

[2018-12-07 15:39] gerryster commented on #52
Maybe the setHoliday function is what you need?

https://github.com/commenthol/date-holidays-parser/blob/master/docs/Holidays.md#holidayssetholidayrule-opts

[2018-12-07 16:06] ScottChapman commented on #52
Oh, yea that's good. How do I use that form this package?

And what would you recommend for the pattern for "Day after independence day"?

[2018-12-13 06:46] #51 closed

[2018-12-13 07:06] commenthol commented on #52
Maybe this works for you:
[code]

[2018-12-13 07:06] commenthol commented on #49
Closing...

[2018-12-13 07:06] #49 closed

[2018-12-13 16:29] rew62 opened #54 "CDN"
Would the author consider putting this library on a CDN like cloudflare or https://cdnjs.com so that we can use sites like Codepen to prototype. Thanks in advance.

[2018-12-20 18:37] gerryster opened #56 "Filtering by multiple holiday types is not working as expected"
Based on the [API documentation](https://github.com/commenthol/date-holidays-parser/blob/master/docs/Holidays.md#holidaysinitcountry-state-region-opts), I was expecting to be able to pass an array of holiday types to Holidays.init and have it return only holidays of those types. For example:

[code]

Note that I am running this on Node 10 which has support for the new Set type. I am also running t

[2018-12-22 11:32] commenthol commented on #56
Hi @gerryster
Thanks for rising this issue. Its fixed now with date-holidays-parser@1.2.3.

[2018-12-22 11:32] #56 closed

[2018-12-27 09:41] commenthol commented on #47
part of v1.3.0

[2018-12-27 09:41] #47 closed

[2018-12-27 09:43] commenthol commented on #44
@tonakai this problem seams to be unrelated to this project. Could you please confirm by closing this issue?

[2018-12-27 09:44] commenthol commented on #52
@ScottChapman issue solved? Then please close issue.

[2018-12-27 11:42] commenthol commented on #54
Please see https://github.com/commenthol/date-holidays#cdn

[2018-12-27 11:42] #54 closed

[2018-12-28 15:48] rew62 commented on #54
I saw the CDN reference for https://unpkg.com/date-holidays/dist/ in the readme.md, however, I do not see the holidays.json file hosted on the CDN for prototyping.

[2018-12-28 16:15] commenthol commented on #54
Sorry but I am confused now. What exactly do you expect from the data file (=holidays.json) alone?
Btw. you the holidays.json file is on unpkg.

[2018-12-28 19:30] rew62 commented on #54
Thank you for the response, sorry, I am new! I am trying to prototype date-holidays, and eventually incorporate that with some calendar js. So I have a codepen, and I was able to point to https://unpkg.com/date-holidays@1.3.2/dist/index.min.js, but obviously the js needs the data file. Here is my pen: https://codepen.io/rew222/pen/zyENKP

[2018-12-28 22:55] commenthol commented on #54
please use the umd file instead of index.

[2019-01-09 07:19] #44 closed

[2019-01-09 22:12] jamesdixon opened #65 "issue with new years eve"
Hi there, first, thanks for a great library!

We recently ran into an issue with the range for New Year's Eve showing up properly. Here's the code I'm running:

[code]

When I log `countryHolidays`, I see the following for New Year's Eve:

[code]

I'd expect `start` to be `2018-12-31T07:00:00.000Z`.

Thoughts? Thanks in advance for your help!

[2019-01-10 04:20] commenthol commented on #65
date "2018-12-31 18:00:00" is the local start date and time - given the assumption that Dec. 31 is a working day and New Year's Eve starts at 6:00pm not 0:00am.
Your timezone set is "America/Denver" which is -7h UTC.
Adding 7h to "2018-12-31 18:00:00" gives start "2019-01-01T01:00:00.000Z" which is UTC.

[2019-01-10 04:35] jamesdixon commented on #65
Thanks for the clarification! The only thing I would challenge is the assumption. I would argue that even though the name references "eve," I think most observe the entire day as new year's Eve. I'm not finding anything that indicates it starts at 6pm. Thoughts?
On Jan 9, 2019, 9:20 PM -0700, commenthol <notifications@github.com>, wrote:

[2019-01-10 06:01] commenthol commented on #65
in other countries New Year's Eve is a normal working day. Festivities usually start in the evening where shops are closed etc. Don't know how this is handled in the US.

[2019-01-10 17:11] jamesdixon commented on #65
It's a working day in the US as well and festivities also start in the evening. That said, I think in general when people speak of a holiday, they speak of it as the entire day. In the case of NYE, people say "tomorrow is NYE" not "tomorrow at 6pm is NYE."

I think I can work around this, but I'm hoping you'll consider the change as it doesn't seem consistent with what's generated by the library f

[2019-01-10 21:08] commenthol commented on #65
Nothing needs to be graved in stone. If NYE starts at midnight then it should start there. You decide. Just create a PR. Holidays is about humans and their feelings and rites. This project is just a tool.

[2019-01-12 22:55] jamesdixon commented on #65
I couldn't agree more 👍  I'll probably just work around it on my end just to ensure I'm not updating data that shouldn't be updated as I can only confidently speak for how this day is observed in the US.

Thanks!

[2019-01-12 22:55] #65 closed

[2019-01-17 16:17] gerryster opened #69 "Make holidays.json a compiled asset instead of checked into version control?"
_Disclaimer: this is not an issue but a request for comment. However, a Github issue seems like the closest thing to an RFC._

I am wondering if it makes sense to remove data/holidays.json from version control and move the YAML to JSON process into the build process? Specifically, it would mean moving `node scripts/holidays2json.js` into the scripts/build step of package.json. This way, the full h

[2019-01-17 19:19] commenthol commented on #69
Hi @gerryster, I agree with your  RFC. Pushing the json file into the build process makes sense. Do you like to prepare a PR?

[2019-01-17 20:22] gerryster commented on #69
Sure, I can create a PR.

[2019-02-03 08:46] #69 closed

[2019-02-03 08:47] commenthol commented on #69
holidays.json is now a compiled asset.

[2019-02-09 15:50] ryan-cal opened #73 "Falling back to the Calendarific API for missing countries?"
What are your thoughts about falling back to the [Calendarific Holidays API](https://calendarific.com) for missing countries?

[2019-02-10 07:23] commenthol commented on #73
Hi @ryan-cal, please consider the restrictions on the Free Version. https://calendarific.com/#pricing
To be honest I don't see this API in this library. If you like to rely on this data please consider starting a new project which uses this data and makes a lookup to the REST API for the missing ones.

On the other hand you are invited to contribute here for the countries you are currently missing

[2019-02-10 07:23] #73 closed

[2019-02-14 20:46] commenthol opened #79 "FYI: gh-pages is available"
Browser example is published on https://commenthol.github.io/date-holidays/

[2019-02-15 15:30] ScottChapman opened #80 "in MA Washington's b-day -> Presidents Day"
According to wikipedia it depends largely on state:
https://en.wikipedia.org/wiki/Washington%27s_Birthday

[2019-02-15 18:44] commenthol commented on #80
Hi @ScottChapman, could you please review the changes in #81?

[2019-02-17 22:59] gerryster opened #84 "Add a YAML linter to the build/test process"
This is a TODO. I have used the [Python yamllint](https://pypi.org/project/yamllint/) command for this in the past. There is also a [Node tool](https://www.npmjs.com/package/yaml-lint) but I have no experience with it.

[2019-02-18 18:27] fallenartist opened #85 "Demo site"
FYI day names have shifted on the [demo site](https://commenthol.github.io/date-holidays/)? For example, 2019 holidays for Australia list Good Friday, 19th April on Thursday.

[2019-02-18 20:58] commenthol commented on #85
Thanks for rising. Timezone is absolute to selected country. Will fix this issue soon.

[2019-02-18 21:08] commenthol commented on #84
Do we really need this? If parsing the YAML to JSON fails then there will always be an immediate exception.
Most problems I experienced with not quoted dates, e.g. 2019-02-18 as those will be parsed into a Date object instead of a string which then is converted to a ISO Date string on JSON output.

[2019-02-19 02:28] gerryster commented on #84
I thought of this when reviewing one of the PR's and noticed redundant value quotes were being removed. I have had success in other projects with non-trivial YAML configuration by adding a linter. My biggest motivation in the past was to quickly spot duplicate keys. This project does have robust tests that will should raise issues around duplicate keys. The other benefit is reducing long term git

[2019-03-04 18:20] commenthol opened #87 "DE-TH: New Holiday International Children's Day"
Add new holiday for DE-TH International Children's Day / Weltkindertag on 09-20
source https://www.thueringer-landtag.de/service/presse/pressemitteilungen/weltkindertag-am-20-september-wird-gesetzlicher-feiertag/

[2019-03-05 04:08] #80 closed

[2019-03-05 04:10] commenthol commented on #85
Should be fixed now.

[2019-03-05 04:10] #85 closed

[2019-03-05 04:11] #79 closed

[2019-03-11 02:04] gerryster commented on #87
Looks good to me :)

[2019-03-14 06:06] #87 closed

[2019-03-29 01:33] kaifresh opened #91 "Holidays dont load correctly"
For holidays in Australia, instantiating holidays using an object doesn't work.

For example the following fails, creating an instance with an empty `{}` instead of a set of holidays

[code]

Whereas this creates holidays as expected

[code]

[2019-03-29 19:59] commenthol commented on #91
Issue confirmed.

[2019-03-30 06:14] commenthol commented on #91
Is fixed in date-holidays-parser@1.3.2 with https://github.com/commenthol/date-holidays-parser/pull/10
Thanks for rising this issue.

[2019-03-30 06:14] #91 closed

[2019-03-30 07:01] commenthol opened #92 "US Veterans Day note is missing for some states/years on node@10 and node@8"
On node 10.15.x and 8.x note is missing for some years for US Veterans Day

[code]

On node@11.x all notes a present.
Not sure if there is a problem with the parser or with node?

Affected fixtures:

US-AK-2016.json
US-AK-2017.json
US-AK-2018.json
US-AK-2019.json
US-AK-2020.json
US-AL-2016.json
US-AL-2017.json
US-AL-2018.json
US-AL-2019.json
US-AL-2020.json
US-CA-2015.json
US-CA-2016.json
US-CA-20

[2019-03-31 05:44] commenthol commented on #92
rule issue fixed

[2019-03-31 05:44] #92 closed

[2019-04-08 08:02] TELLO0815 opened #97 "Symfony installation"
Hi there,

sorry im new bee.
Whats the best way to install under Symfony? Just put the folder in my assets or is there a better way?

THX
Mike

[2019-04-09 19:58] commenthol commented on #97
Hi @TELLO0815, I am sorry that I can't help you here. This project is based on javascript so in your case you may need to think of using the lib in the browser.
There is an example within this project which may give you an idea. The README also has a section with CDN. So please take a look there.

[2019-04-09 19:58] #97 closed

[2019-04-15 13:08] ozsirma opened #99 "Support for Indonesia and Malaysia"
Hi,
If it is possible, I request that Indonesia and Malaysia be added.
Thank you!

[2019-04-19 18:08] gerryster commented on #99
Thanks for your feedback. There are several countries which need to be added and good to know that there is interest in Indonesia and Malaysia. Also, pull requests are welcome. See the [contributing guide](https://github.com/commenthol/date-holidays/blob/master/CONTRIBUTING.md) for more information.

[2019-04-21 11:27] aavmurphy opened #100 "Suggestion: create a folder with a "holiday dates" json file for each region"
have a 'distribution' json directory of holiday dates,
i.e. json only, no code
e.g, so i can just pick up `/dates/GB/England-Wales.json` or `/dates/GB/GB.json` from the CDN or npm ....
=> its programming language independent
=> its very small (most people will just need 1 or 2 small files with a handful of dates (their country and possibly, region)
=> have 2 option, an, 'array of dates => name' fi

[2019-04-21 11:56] commenthol commented on #100
you already can set up a custom build in your project. See the custom build section in the Readme.

[2019-04-28 13:47] aavmurphy commented on #100
but you'd have to use npm & node?
with my suggestion, anyone can use it as a service, just by fetching a url

[2019-05-09 00:50] Laptopmini opened #101 "Error using holidays2json example"
When attempting to create a custom build using the example
[code]

I got the following
[code]

Using
[code]

Is it compatible with Node.js?

[2019-05-09 01:00] Laptopmini commented on #101
The odd thing is that the countries available seem to change...

[code]

[2019-05-10 14:52] commenthol commented on #101
Yes things are compatible with node. Problem is within the prepin package.

[2019-05-10 15:16] commenthol commented on #101
prepin@1.0.3 released which fixes this issue.

[2019-05-10 15:16] #101 closed

[2019-05-12 23:15] Laptopmini commented on #101
I would update the dependency rule as well:
`"prepin": "^1.0.3"`

[2019-05-29 13:35] steeveAtAndjaro opened #102 "isHoliday function doesn't work"
Hello,

I tried to use one of the readme example but I got an error

date-holidays installed : 1.4.0
chrome : 74.0.3729.169

My code ( in a react component):
`var hd = new Holidays( 'FR' );`

// working
`console.log( hd.getHolidays() );`

// Uncaught TypeError: Cannot read property 'fn' of undefined
`hd.isHoliday( new Date( '2016-02-09 00:00:00 GMT+0000' ) ) `

Did I forget . to init something  ?

[2019-05-29 20:02] commenthol commented on #102
If running your lines with node all is ok. So the problem might be related to your project setup.

[2019-06-23 14:00] ptorrent opened #105 "Browser : Uncaught TypeError: b.str.substr is not a function"
Hello,

date-holidays installed : 1.4.0
chrome : 74.0.3729.169
Opera : 60.0.3255.170

When I try to use "isHoliday", Igot this error :

![image](https://user-images.githubusercontent.com/6083644/59977310-06b87980-95d0-11e9-8525-5cee2259b669.png)
![image](https://user-images.githubusercontent.com/6083644/59977517-6152d500-95d2-11e9-86eb-b709b79a0317.png)

This is what I got for "b":

![image](https

[2019-06-23 16:30] ptorrent commented on #105
Solved, something wrong from my side.

[2019-06-23 16:30] #105 closed

[2019-07-13 16:37] commenthol commented on #102
Hi @steeveAtAndjaro, I am closing your issue. Please reopen if the issue still persists while giving us some more insights. Thanks.

[2019-07-13 16:37] #102 closed

[2019-07-26 16:08] olragon commented on #100
@aavmurphy checkout [date-holidays-data](https://github.com/olragon/date-holidays-data)

[2019-08-29 09:59] dainius-s opened #111 "examples/browser typo for index.html javascript resource"
there is a typo in index.html file

on line 36 includes javascript file "index.js" when in fact it's "test.js"

current
`<script src="index.js" type="text/javascript"></script>`

should be
`<script src="test.js" type="text/javascript"></script>`

[2019-08-29 16:02] commenthol commented on #111
Hi @dainius-s ,
`index.js` is generated with browserify but not committed. You'll need to check out the project and run `npm run build`. The built version is on https://commenthol.github.io/date-holidays/

[2019-08-29 16:02] #111 closed

[2019-09-02 04:35] rikur commented on #36
@oprogramador got time now? I'd love to help, but those holidays look tricky..

[2019-09-02 16:25] oprogramador commented on #36
@rikur
I haven't had time for that and I haven't had a real need for supporting Isreal on any app, I just thought it would be great to give such support.

Initially I tried to implement that but it seems to not be so easy.

[2019-09-04 00:08] rikur commented on #36
I was able to download the Israeli holidays from hebcal.com and use the alongside date-holidays. Since the holidays are not based off Gregorian calendar, it might be impossible to have them laid out in a future-proof way for this library.

[2019-09-04 00:40] gerryster commented on #36
Note that this library does have support for the Hebrew calendar. See https://github.com/commenthol/date-holidays/blob/master/docs/specification.md#dates-in-hebrew-calendar . PR's are welcome. Also, if someone has links to primary source documentation for official Israeli holidays that is also a good place to start. For example, links to official legislation, government, or religious sources for h

[2019-09-04 02:18] rikur commented on #36
@gerryster hebcal is a full-blown JS implementation of Hebrew calendar: https://github.com/hebcal/hebcal-js

I would just assume that it's too heavy to implement into this project.

[2019-09-20 10:49] backtrackbaba commented on #99
@ozsirma Could you share the holiday lists for Indonesia and Malaysia?

[2019-10-12 17:43] Suisse00 opened #114 "Clarify Canada mandatory public holidays"
Hi, I'm from the Quebec state of Canada and I do know the "Boxing Day" (December 26th) and Remembrance Day (November 11) ARENT official holidays (as stated in by my state http://www4.gouv.qc.ca/fr/Portail/citoyens/programme-service/Pages/Info.aspx?sqctype=sujet&sqcid=329 - thought December 25th is usually paid by the employer).
There is no trace of a possible weird exception for the Quebec state.

[2019-10-18 20:41] amoebaworks commented on #114
BC Family Day in 2020 is Feb 17. Your mapping is returning Feb 10. It changed in 2019 from 2nd Mon to 3rd Mon. Reference: https://www.statutoryholidays.com/bc.php

[2019-10-31 11:41] pero5ar commented on #44
I'm having the same issue, the problem is that the module is exported as `module.exports = Holiday`, and typings for those kinds of exports should look like `export = Holiday`, `export default Holidays` could be used if the module was exported something like `module.exports = { ...Holiday, default: Holiday }` (the default property needs to have a value if you want to use a default import).

Note t

[2019-11-06 09:33] germain-receeve opened #117 "isHoliday does not have the correct typescript definition for return type"
Typescript definition: `Holidays.isHoliday(date: Date): Holidays.Holiday`
In reality it should be either `Holidays.isHoliday(date: Date): Holidays.Holiday | boolean` or   `Holidays.isHoliday(date: Date): Holidays.Holiday | false`

[2019-11-13 10:55] Haydspalms opened #119 ".getHolidays() - how to retrieve multiple years [Question]"
So with the .getHolidays(), how would I be able to specify multiple years e.g. the next 5 years including the current one?

[2019-11-13 13:11] #119 closed

[2019-11-17 06:55] #117 closed

[2019-11-21 11:11] SoftDev1987 opened #122 "Fix UK bank holiday (Early May bank holiday (VE day))"
Currently, the May Bank holiday on this module is incorrect. It states that the May bank holiday is on the 4th of May, but it's on the 8th (https://www.gov.uk/bank-holidays). This would normally be correct but it's VE day. Could you fix this?

[2019-11-22 16:38] commenthol commented on #122
@SoftDev1987 PR #123 is on the way. Could you please check if all is as expected?

[2019-11-22 16:43] commenthol commented on #114
@amoebaworks I would prepare a PR for BC Family Day. @Suisse00 for the above I would need guidance what and how days should be changed. It's currently a bit confusing to me.

[2019-11-22 17:51] SoftDev1987 commented on #122
Fixed - thanks! :)

[2019-11-22 17:51] #122 closed

[2019-11-23 00:11] Suisse00 commented on #114
Oh, I just found https://en.wikipedia.org/wiki/Public_holidays_in_Canada#Provincial_and_territorial_holidays (source: the @attrb from the .yaml... RTFM!) Seem right to me.

[2019-12-08 11:46] guyko81 opened #127 "Scotland name is misspelled"
It is Scottland in the GB.yaml file.
The correct spelling is Scotland.

[2019-12-09 06:48] #127 closed

[2019-12-12 14:57] phillipstemann opened #129 "Denmark is missing one holiday"
Hi

Really great plugin. Though one day is missing from the list when I pull danish holidays.
It's 24th of dec. Christmas Eve in Denmark, it's a public holiday as well.

[2019-12-12 20:45] commenthol commented on #129
Hi @phillipstemann, Could you please name us some source? In https://da.wikipedia.org/wiki/Danske_helligdage Christmas Eve is not listed as an public holiday.
Is it a "bank" holiday? Do people work half day only?

[2019-12-12 21:00] phillipstemann commented on #129
Hi
I'm danish, and 24th is a holiday. Everything is closed, and everyone is off work.

[2019-12-12 22:54] commenthol commented on #129
Great. Would you mind setting the holiday type to `observance` then?

[2019-12-13 13:32] fstaffa opened #130 "Incorrect name in typings for setLanguages function"
Function has in typings is named setLanguage instead of setLanguages

[2019-12-14 07:22] commenthol commented on #129
Hi @phillipstemann,

Would you mind checking the following list for danish holidays? Added days are 1.maj, Juleaften, Nytårsaften. Thanks for your support.

[code]

[2019-12-14 07:27] #130 closed

[2019-12-16 06:48] phillipstemann commented on #129
Hi @commenthol

I wouldn't add "Nytårsaften", the others you can add as observance.
Nytårsaften is a normal day in Denmark. Some has half of the day of, but it's very few.

[2019-12-16 19:57] commenthol commented on #129
Nytårsaften is removed now. Thanks for your support.

[2019-12-16 20:08] #129 closed

[2020-01-06 13:15] FarkasAndras93 opened #134 "Public holiday missing from Bayern region in Germany"
Based on this sites:
https://www.studying-in-germany.org/public-holidays-germany/
https://www.expatica.com/de/about/culture-history/public-holidays-in-germany-and-important-german-holidays-2018-105411/
"Augsburger Friedensfest: holiday in individual regions (always on 08. Augugst)" - is missing from Bayern region in Germany.

[2020-01-06 20:56] commenthol commented on #134
Hi, date-holidays is structured by country, state and region.
The "Augsburger Friedensfest" is a public holiday only for the area of the city of Augsburg but not for the whole state of Bavaria, such it is correctly attributed if choosing DE-BY-A .

[2020-01-06 20:56] #134 closed

[2020-01-14 00:09] jbroudou opened #135 "Incorrect subdivision code? (BE-DE)"
The ISO subdivisions for Belgium are listed at https://en.wikipedia.org/wiki/ISO_3166-2:BE.

https://github.com/commenthol/date-holidays/blob/1e885a0d7950d1c0d898685e07d14e5dce9acfbd/data/countries/BE.yaml#L79 includes BE-DE (name: Deutschsprachige Gemeinschaft) as a subdivision of Belgium.

As the ISO list does not include BE-DE, can you please explain how BE-DE fits into the ISO subdivision sche

[2020-01-14 09:09] commenthol commented on #135
Hi, to be honest I did not find a solution to map the different languages to the regions. If you are Belgium (what I suppose) I would appreciate to adapt to a ISO schema which reflects the regions and different languages better. Any PR is welcome.

[2020-01-14 14:38] emiltout opened #136 "Error: this._shorten is not a function"
Hi there,

I'm trying to use date-holidays in my angular 7 project with typescript.
I meet an issue when I intialize new Holidays('US', 'la', 'no') (for exemple) :

![image](https://user-images.githubusercontent.com/15676958/71978253-26855700-321b-11ea-8d77-7534889b95dc.png)

![image](https://user-images.githubusercontent.com/15676958/71971849-c2a76200-320b-11ea-9362-56f8d6d8948c.png)

It seems th

[2020-01-21 04:42] jbroudou commented on #135
Hi @commenthol `Deutschsprachige Gemeinschaft` isn't a recognised ISO subdivision, but I understand why you've included it here. All current subdivision codes for Belgium are 3 letter codes, so it is unlikely that 'BE' would clash with any future code changes.

[2020-01-21 04:42] #135 closed

[2020-01-21 06:14] thamsrang opened #137 "Can you support for India"
Please provide support for India. Refer the below link
https://www.timeanddate.com/calendar/?year=2020&country=35

[2020-01-27 18:01] commenthol commented on #136
Hi,
what is the reason to use

    import * as Holidays from ...

instead of

    import Holidays from ...

?

[2020-01-27 18:08] commenthol commented on #137
India is the most complex country with regards to the different regions, their festivities, languages and the use of different calendar systems to my believe.
So for now I have no urgent plans to start with this work. But maybe you like to give it a start with support for fix date lists which may need manual updates each year?

[2020-01-28 13:09] thamsrang commented on #137
Thanks for the response.
Yes. India is diversified by culture and united by nation.On every region they have own festivals holidays.
And also few festival holidays will based on Astrology Timing.
Yes Its requires manual update each year.
Definitely I will try to collect fix holidays date list for different region.

[2020-01-29 08:34] beeing opened #140 "Lunar + Gregorian"
Hi, is there an option we can specify both Lunar and Gregorian?

This should solve dates such as Vesak "Full Moon in the month of May" as per https://www.un.org/en/events/vesakday/

Thanks in advance.

[2020-01-29 13:23] beeing commented on #140
After testing the dates further, it looks like lunar itself is sufficient.

FYI, Vesak falls on 15th of 4th month in lunar.

[2020-01-29 13:23] #140 closed

[2020-01-29 13:35] gerryster commented on #140
Vesak is defined pretty manually in Singapore (https://github.com/commenthol/date-holidays/blob/1e885a0d7950d1c0d898685e07d14e5dce9acfbd/data/countries/SG.yaml#L60-L103). If you have a more general way of defining it that would be helpful. Note that I am not sure if Singapore has some specific rules that other countries to not follow.

[2020-01-29 15:22] beeing commented on #140
Here's what I'm testing out:

[code]

Also, found that it works for Deepavali too:

[code]

Note: I've tested a few years but not a very extensive tests though.

[2020-02-02 23:14] jbroudou opened #142 "State Holiday incorrect (Subdivision: US-GA / Year: 2020)"
Per https://georgia.gov/popular-topic/state-holidays Friday, April 10 is a State Holiday (i.e. Confederate Memorial Day) in 2020, however we are currently getting 2020-04-27

https://github.com/commenthol/date-holidays/blob/master/data/countries/US.yaml#L293

[2020-02-17 17:20] jamesdixon commented on #10
Hello! I realize this is an old issue that I had brought up years ago but wanted to give a heads up that this particular issue came back to bite me. I've been relying on names to identify holidays but after making an update to the library, some dates stopped working because the name was changed.

Any chance you'd consider this now? I don't have a 100% insight into the process but using a UUID as a

[2020-02-18 22:18] gerryster commented on #10
Hey @jamesdixon , I also have a similar use case in that I store the holidays produced by this Node Module in a database table. I have handled this situation by only importing one holiday per date. I had considered something more complex but settled on this. With that said, this is still imperfect as a date for a holiday can change; often times by a formal government declaration.

The difficulty a

[2020-02-18 22:32] jamesdixon commented on #10
@gerryster thanks for the reply! Storing these holidays in your own table is definitely a workable solution, but just as my system, imperfect as you suggest.

Great question. I would imagine a unique identifier for each holiday in each locale. So Christmas in the US would have a different identifier than Christmas in the UK.

In your example of Alaska and Columbus Day vs. Indigenous People's Day,

[2020-02-25 18:46] jkrenge opened #144 "2020-02-25, Faschingsdienstag, is not a bank holiday in Germany"
Today is not a bank holiday, not even a half day, in Germany:

https://en.wikipedia.org/wiki/Public_holidays_in_Germany

Most business will close after lunch, but this should be tagged as observance.

[2020-02-29 07:14] #144 closed

[2020-04-18 08:02] commenthol opened #148 "Extend years of test range"
The present test set spans over the years 2015-2020.
To verify future changes extend the test set to 2025.

[2020-04-18 15:59] gerryster commented on #148
Yea, I’ve been thinking of this too. Is your strategy going to be to regenerate the test fixtures from 2020-2025 and use that a starting point?

[2020-04-19 05:57] commenthol commented on #148
Exactly. Will make a PR.

[2020-04-22 03:53] jbroudou opened #150 "Substitute holidays - both and single days"
In some locations when a holiday falls on a weekend, it is moved to a weekday as an observed day. In some of these locations only the observed day is considered a holiday whereas in others both the observed and original days are considered holidays. This is an important distinction in some jurisdictions.

Is there any chance of supporting an additional flag against observed holidays that indicate

[2020-04-22 18:45] commenthol commented on #150
For both holidays you'd specify

[code]

For a single holiday which is shifted you'd specify

[code]

In case you like to add the type "observation" on 03-02 you may add:

[code]

[2020-04-22 19:07] commenthol commented on #136
Closing

[2020-04-22 19:07] #136 closed

[2020-06-01 05:43] commenthol opened #153 "Include rule in output"
As per feature request https://github.com/commenthol/date-holidays-parser/pull/16 add a `rule` attribute on each Holiday Object.

[2020-06-16 20:14] #153 closed

[2020-06-26 01:43] naoya7076 opened #159 "1/2,1/3,11/25 and 12/25 are not national holidays in Japan"
According to this [Cabinet Office site](https://www8.cao.go.jp/chosei/shukujitsu/gaiyou.html) 1/2,1/3,11/25 and 12/25 are not national holidays in Japan. I think these days should be removed from holiday list in `JP.yaml`.

[2020-06-26 05:09] #159 closed

[2020-06-26 05:31] naoya7076 commented on #159
I can get only public holidays when init.
`hd.init('JP', { types: ['public'] });`

[2020-07-06 09:32] kdiehl opened #162 "Get Holidays for one country and all states"
Is it possible to get all state holidays of one country with the Holiday API?

[2020-07-21 23:08] westn opened #164 "isHolidays returns the last date instead of a list"
Problem:
On the swedish locale (SE), there's mothers day and pentecost occuring on the same date in 2020, see snippet taken from `holidays.getHolidays('2020')` below.
[code]

`holidays.isHoliday(new Date('2020-05-31 00:00:00'))` returns the snippet below.
[code]

Expected behaviour: Return a list of holidays.

Research:
- Does this affect more locales?
- Is this an expected behaviour or broken?

[2020-07-22 19:20] westn opened #165 "Missing evenings in SE"
The following days are missing in the swedish locale.
See reference: https://sv.wikipedia.org/wiki/Helgdagar_i_Sverige

- Trettondagsafton
- Påskafton
- Pingstafton
- Allhelgonaafton

Extra:
"Påsk" => rename to "Påskdagen"
"Påskdagen" should also be a public holiday.

Discussion:
Isn't it quite common that easter sunday is a public holiday? Currently it has the default value as observance

[2020-07-22 19:21] westn commented on #165
I can hopefully pick these up myself when I have a bit more time to spare.

[2020-09-02 15:00] madmax75 opened #167 "Add german school holidays"
Is it possible to integrate the German school holidays ?

Example:
https://publicholidays.de/school-holidays/north-rhine-westphalia/

[2020-09-02 15:33] commenthol commented on #167
Hi @madmax75 ,
No objections from my side. If you like to maintain these for Germany you help is much appreciated. The holiday type school is available as well as duration. E.g. for an imaginary two weeks holiday starting this week the rule could be "2020-08-31 P12D".

[2020-09-16 21:13] OliverHabersetzer opened #168 "Typescript errors"
I tried several configurations when trying to use typescript with this library:

**Initial setup**

`tsconfig.json`:
[code]

**My usage**

[code]

results in `node`, `ts-node` and `tsnd`:
[code]

this is what I got after replacing the `import * as Holidays ...` with `import Holidays ...`:
[code]
...with `Ranker.ts:14:28` being the line `const holidays: Holidays = new Holidays();`

Maybe this is re

[2020-09-22 17:54] ilyakamens opened #170 "[Feature request] Expand `pick` and `omit` functionality"
Hi @commenthol,

Thanks for this great tool. I'd like to submit a feature request to expand the `pick` and `omit` functionality when making a custom build. Specifically:

- Add the ability to `pick` only certain US states (e.g., only `pick` holiday information for US + TX, and `omit` the other state-specific holidays).
- Add the ability to `omit` the holiday names in other languages (or to `pick`

[2020-09-22 18:36] ilyakamens commented on #170
Edit: I wrote a script to accomplish the above that omits all languages except English and removes all US state holidays except TX's, but the bundle is still quite large at 70KiB zipped.

I see the [Bundling with webpack](https://github.com/commenthol/date-holidays#bundling-with-webpack) section and [webpack.config.js](https://github.com/commenthol/date-holidays/blob/master/webpack.config.js), but

[2020-09-27 11:56] soullivaneuh commented on #168
Working for me with this implementation:

[code]

[2020-09-27 14:21] OliverHabersetzer commented on #168
Thanks, I'll try that one out. But it seems to be more of a workaround than a fix on the behalf of this library.
In my opinion ts is very important to use - especially in bigger projects.
Sometimes the types cause a bit of problems but in the end the compiler is able to keep you from making a lot of mistakes.

[2020-09-27 18:56] commenthol commented on #170
Hi @ilyakamens,
I think you are doing everything right. Problem is that moment-timezone latest.json data still has ~180kB.
If you only leave the required timezones in this would reduce the size further.
Nonetheless there is still no reliable replacement to use correct timezones in the browser, which then would allow to remove the moment-timezone dependency.

[2020-09-27 19:07] OliverHabersetzer commented on #168
Nope, still the same error. it doesn't even recognize the `.default()` part.
@soullivaneuh: could you provide more of your configuration / environment?

[2020-10-06 00:12] jk1z opened #172 "[Bug] Labour day is not national holiday in Australia"
Hi @commenthol,

Thanks for the library. I would like to submit a bug report:

Labour day is not a **national** holiday in Australia according to the Australia government website.

https://info.australia.gov.au/about-australia/special-dates-and-events/public-holidays

![image](https://user-images.githubusercontent.com/18542127/95144593-c41ab080-07c4-11eb-8f44-387e97e38e39.png)

[2020-10-06 00:23] jk1z commented on #172
Also, Queen's Birthday is not a national holiday as well

[2020-10-07 05:44] #172 closed

[2020-10-15 16:25] yackSpillsaps opened #177 "Why is veterans day the only US bank holiday?"
In the entire 21st century, the library reports only 29 US type=bank holidays, and all of them are a Veterans Day that falls on a weekend being observed on a Monday or Friday (a substitute=true day).

![Screenshot from 2020-10-13 17-44-43](https://user-images.githubusercontent.com/6422732/96157869-d5f50580-0ee0-11eb-9e7d-901289ee4564.png)

There is both a public weekend day, and a bank substitute

[2020-10-15 21:28] gerryster commented on #177
I am pretty sure that Veteran's Day being a bank holiday is intentional. https://github.com/commenthol/date-holidays/blob/2c462f9a58a585263c6f47a66d7be06fe996b8c0/data/countries/US.yaml#L91 references a source from the Federal Reserve Board of Governors which is pretty authoritative for the US banking system. Note that Veteran's Day is also a federal holiday per https://www.law.cornell.edu/uscode/

[2020-10-20 15:22] yackSpillsaps commented on #177
@gerryster , Thanks for your thoughtful reply.

 I may have misunderstood, but It seems like the argument for Veterans Day being treated differently then New Year's Day, Independence Day, and Christmas is based on the idea of the latter being "more major holidays". I tend to agree that they are more significant, but I have a feeling that some groups would not ; )

I think it makes more sense to mo

[2020-10-23 18:10] iamsrujal commented on #137
Okay. Can we use governments approved holidays for all states?
I'm sure we will find very few genuine holidays for India.
What do you think?

[2020-10-23 21:36] gerryster commented on #137
@iamsrujal : I like your idea. If you can help us find primary sources for state specific holidays, that would be appreciated. For example, links to government websites or legislation. The aggregation sites such as timeanddate.com are not as helpful for us.

[2020-10-24 04:36] iamsrujal commented on #137
Okay. I'd love to help you.

Are we looking for open source Api Endpoint? Is it okay to have paid REST API?

[2020-11-02 11:17] alexfernandez opened #178 "[Bug] 2020-03-19, 2020-04-09, 2020-12-07 are not National Holidays in Spain"
The [data for Spain](https://github.com/commenthol/date-holidays/blob/master/data/countries/ES.yaml) states as a source the [wikipedia page](https://es.m.wikipedia.org/wiki/Calendario_laboral).

However this year St Joseph's day (March 19th, 2020-03-19) is not a national Holiday but a substitute day. The library returns:

[code]

You can in fact look at the [official bulletin](https://www.boe.es/b

[2020-11-03 04:53] commenthol commented on #178
Hi @alexfernandez,
Thanks for posting the issue.
I am confused what to do now. Would you mind stating what are your expected changes?
E.g remove this, add this, change to this.
Please also consider opening a pull request.

[2020-11-03 15:07] alexfernandez commented on #178
I will try to fix it and send a pull request :sweat_smile:

Thanks!

[2020-11-09 19:01] alexfernandez commented on #178
[Pull request](https://github.com/commenthol/date-holidays/pull/179) sent. Thanks again!

[2020-11-11 07:00] commenthol commented on #178
Thanks for your contribution. v1.8.3 will be released soon...

[2020-11-11 07:00] #178 closed

[2020-11-11 08:23] alexfernandez commented on #178
Awesome, thanks! We are looking forward to using your package in our projects :smile: :+1: :clap: :partying_face:

[2020-12-11 08:48] Cants820 opened #182 "Does this API have react support ?"

[2020-12-12 01:27] gerryster commented on #182
Yes. This Node module can support any front end framework. With that said, there are no dependencies on React specifically but this module is designed to work inside modern browser JavaScript engines.

Does that help @Cants820 ?

[2020-12-12 01:27] #182 closed

[2020-12-28 21:23] PerperxityCoding opened #183 "French oversea states incorrectly classified as country"
Hi, thanks for this great tools. This is astonishing work !

The French oversea states are incorrectly classified as countries.
To give a little context, I use it in an app that i'm working on. I have a form, an user can select a country + state (optional) + region (optional) to display the matching holidays.
So the oversea French state should not appear in the country list. I could remove them by

[2020-12-31 09:03] commenthol commented on #183
This project tries to follow IANA (ISO 3166-1 alpha-2) country codes and unicode subdivisions

As stated in the specification under "structure of holidays.yaml"

or a more recent version on subdivisions see https://github.com/unicode-org/cldr/tree/master/common/subdivisions

As I don't like to get involved into discussions where geographical areas (in our context named countries, states, regions)

[2020-12-31 09:03] #183 closed

[2020-12-31 18:13] tothadi opened #185 "All check failes on pull request after minor modifications"
Could someone provide me info on what am I doing wrong?

I've tried to correct some holiday name and setting some of them to public, as those are day offs for everyone.
Why the checks fail?
How can I change the fields without errors?

_Originally posted by @tothadi in https://github.com/commenthol/date-holidays/issues/184#issuecomment-753018680_

[2021-01-01 13:00] #185 closed

[2021-01-01 13:01] tothadi commented on #185
Solved in https://github.com/commenthol/date-holidays/pull/184#issuecomment-753293712

[2021-01-02 10:51] PerperxityCoding commented on #183
Thanks for the clarification, it makes sense why it was done this way.

Have an Happy new year.

Thanks again for this projet !

[2021-01-12 09:17] Cants820 opened #188 "Lunar Holidays moving dates"
Why would you go about adding lunar holidays ? Specifically the one's in thailand. Any suggestion ? im currently doing it manually.

[2021-01-13 02:42] gerryster commented on #188
https://github.com/commenthol/date-holidays/blob/master/docs/specification.md is where I would start. With that said, there is not currently support for the [Thai lunar calendar](https://en.wikipedia.org/wiki/Thai_lunar_calendar). Support for that calendar would need to be added to the [date-holidays-parser](https://github.com/commenthol/date-holidays-parser) project.

[2021-01-18 03:08] Cants820 commented on #188
thanks very much

[2021-01-19 10:03] Cants820 opened #189 "could not parse rule: 1st Friday in December"
Hello,

I am currently adding a public holiday on the 1st friday in december and I am getting this error. in my google console
`could not parse rule: 1st Friday in December`  Here is the entry on my .yaml file: (Note that Farmers' Day is not in the names.yaml)

Also Farmers' Day exists in my holiday.json

1st Friday in December:
        name:
          en: Farmers' Day
          type: public

[2021-01-20 19:35] commenthol commented on #189
Hi @Cants820, Can you please try with "friday" in lowercase? Sorry for the inconvenience but currently all weekdays need to be written in lowercase. I should try to update the parser to cope with correct case for weekday names.

[2021-01-23 13:40] #142 closed

[2021-01-26 11:14] DaedalusDev opened #193 "Add "Europe Day" to Luxembourg's holidays"
Hi,

"Europe Day" missed from to Luxembourg's holidays.
Source : https://en.wikipedia.org/wiki/Europe_Day

PR incoming.

Thanks.

[2021-01-28 19:46] #193 closed

[2021-01-28 20:34] commenthol opened #197 "Proposal: New rule for attribution of active/ inactive holidays"
A holiday name may change over time and get replaced or discontinued.
The same applies if a holiday is effective from a certain timestamp on.
Currently this is attributed by the `active` array using `{to, from}`.
For renaming a name this then will case a duplication of the rule name which then is resolved with a numbering scheme using `#1`.
This is not ideal.

It is therefore proposed to introduce

[2021-02-05 13:19] adrianoolivr opened #198 "Add Carnival Tuesday as public holiday in Brazil"
![Screenshot_20210205_100932](https://user-images.githubusercontent.com/60880274/107038081-c4d74980-679a-11eb-83be-76140d7d3508.png)
This holiday is exactly 47 days before Easter
And ehe tuesday carnival is a public holiday in Brazil
So, please, add
Font: https://www.inf.ufrgs.br/~cabral/Pascoa.html

[2021-02-07 22:19] fsodano1 opened #199 "Monthly repetition rule"
How can i define these rules:
- every 14th day of every month ?
- every 1st monday of every month ?

Thanks in advance!

[2021-02-13 11:13] commenthol commented on #199
[code]

[2021-02-13 11:19] commenthol commented on #198
@adrianoolivr Can you please give us a reference to a governmental site which states that Shrove Tuesday is a public holiday in Brazil?
On https://pt.wikipedia.org/wiki/Feriados_no_Brasil I could not find a reference stating that in fact it is a public holiday.

[2021-02-13 14:02] maxvet opened #200 "Please add the Easter Monday to the Quebec (Canada) public holidays"
In Quebec, we have the Easter Monday which is the Monday right after the Easter Sunday.

**Here's an official source:**
[https://educaloi.qc.ca/en/capsules/public-holidays/](https://educaloi.qc.ca/en/capsules/public-holidays/)
![Screen Shot 2021-02-13 at 8 55 59 AM](https://user-images.githubusercontent.com/35200170/107851618-5a955900-6dd9-11eb-9de5-805af908b9bd.png)

**Here's also a list of the o

[2021-02-13 17:21] #164 closed

[2021-02-13 17:58] commenthol commented on #200
@sprileyMSTS @brandonbay Can you please help here?

[2021-02-15 08:36] fsodano1 commented on #199
this possibility was clear to me, but it adds management complexity. Why not create unique and specific rules for these two scenarios?
For example:
1. DD
2 <count> <weekday> (montly)

[2021-02-15 13:38] fsodano1 opened #202 "Disable a holiday"
Is it possibile to use setHoliday method to disable some holiday?
For example, i want to disable a recurring annual Holiday only in a specific year. How can i do It
programmatically?

[2021-02-24 12:34] GordoRank opened #203 "GB holidays Christmas/Boxing day (25th/26th December) - incorrect substitution rules"
GB holidays for 2021 are substituted incorrectly due do incorrect rules.

**According to date-holidays:**

Christmas Day falls on 28/12/2021
Boxing Day falls on 27/12/2021

**Actual dates**

Christmas Day falls on 27/12/2021
Boxing Day falls on 28/12/2021

From looking at the data files, the rules of appear to be incorrect.

It should be:

When 26 December falls on a Saturday, the associated publi

[2021-03-01 03:56] emgoto opened #205 "Is it possible to know if a holiday is a repeating one?"
Does the library surface in any way if a public holiday repeats each year on the same date? e.g. 25th December.

[2021-03-01 11:42] commenthol commented on #205
This is an interesting request. Just being curious, what is the use-case behind?

Well this project aims to calculate all holidays from rules, so the usual nature of such rule is a repeating one.

I think you'd need to inspect the rules here and check if there is a matching year contained.
In case you'd find something like "2021-" this would be a non repeating rule.

Of course there are also non-g

[2021-03-01 20:12] emgoto commented on #205
I have a calendar UI where people can input their own holidays - either as
a one-off or as a "repeating" holiday. And I was looking into this library
as a way let users import holidays instead of having it as a manual process.

Yeah, I did see that I could try using the rules, however I assumed there
would be too many edge cases to try and account for.

On Mon, 1 Mar 2021, 10:42 pm commenthol, <no

[2021-03-09 19:44] Jassou opened #207 "Possible to remove the civic holiday from statutory holidays in the province of Quebec (Canada)"
The reason, in Quebec, we do not celebrate this day like the other provinces.

Here is a source:
https://www.officeholidays.com/holidays/canada/canada-civic-day
![Capture d’écran, le 2021-03-09 à 14 37 03](https://user-images.githubusercontent.com/9012744/110528103-bfe11f00-80e5-11eb-8df8-89a495dd533e.png)

[2021-03-11 04:19] gerryster commented on #207
Yes, the ability to disable a holiday in a specific locale is a supported feature. See https://github.com/commenthol/date-holidays/blob/master/docs/specification.md#disabling-a-rule-in-states-regions for more information. @Jassou : would you be interested in submitting a pull request with this change? If so, https://github.com/commenthol/date-holidays/blob/master/CONTRIBUTING.md is a good starting

[2021-03-11 18:20] Jassou commented on #207
@gerryster Thank you for the quick response!

[2021-03-27 11:03] commenthol commented on #205
Maybe you'd like to consider https://commenthol.github.io/date-holidays/ where you can download .ics files for later import in calendars...

[2021-03-27 11:03] #205 closed

[2021-03-27 11:32] commenthol commented on #199
To my knowledge there is no such holiday rule used in any country so far.
It may add "management" complexity at your side, but in this lib it would add unnecessary but to-be-maintained code.

[2021-03-27 11:32] #199 closed

[2021-03-27 11:37] commenthol commented on #207
Thanks for rising this issue. v3.0.1 contains the fix.

[2021-03-27 11:37] #207 closed

[2021-03-27 11:37] commenthol commented on #200
Thanks for rising this issue. v3.0.1 contains the fix.

[2021-03-27 11:37] #200 closed

[2021-03-30 02:08] jp928 opened #209 "jest not happy with 3.0.1"
I got error
[code]

[2021-03-30 07:21] commenthol commented on #209
Hi, I just made a cjs project with a small test.

Interestingly the test works without complaints in mocha.
jest on the other hand fails with the stated:

    FAIL  test/index.test.js
     ● Test suite failed to run

       Cannot find module 'astronomia/julian' from 'node_modules/date-holidays-parser/lib/Julian.cjs'

       Require stack:
         node_modules/date-holidays-parser/lib/Julian.cjs

[2021-03-31 07:13] #198 closed

[2021-03-31 07:14] #189 closed

[2021-04-05 21:39] trisrael opened #219 "No Good Friday dates are returned for US"
Although referenced in several files there is no 'Good Friday' in the [US YAML](https://github.com/commenthol/date-holidays/blob/master/data/countries/US.yaml) but it is referenced [all over the place](https://github.com/commenthol/date-holidays/search?p=6&q=Good+Friday) including past test fixtures for what looks like US, so this is likely a regression?

When calling:
[code]

[2021-04-08 10:38] commenthol commented on #219
According to the data there is no official holiday across the US. It is celebrated only in some states.
If you name the proper state on initialization e.g. `new Holidays('US', 'CI')` (for Connecticut) you should see the Good Friday as a holiday.
If you think Good Friday is observed in the whole country albeit not being a public holiday in all of the states, please consider changing your issue.

[2021-04-08 20:06] #203 closed

[2021-04-23 20:34] capatina commented on #101
This is still an issue. Same thing is happening:
![image](https://user-images.githubusercontent.com/13295539/115927009-c3d8be80-a451-11eb-9797-61bceb009c4c.png)

[2021-04-28 07:47] maxizhukov opened #220 "Can you please add good documentation how use it with React/Angular/Vue, because I spent already two days and still can not use it."
Requires are not working, and all that described in Line "Browser", is not clear, there are some fixed files but how to use them?

[2021-04-28 10:55] hosuaby commented on #209
I had a simular problem while impot `date-holidays` into Angular project:

[code]

[code]

There is way to completely exclude `date-chinese` or `astronomia` from bundle ?

[2021-04-29 06:12] kvtong93 opened #221 "How can I add import the HK canlender to your work?"
Hi commenthol,

I am a user from Hongkong, however, i didn't see the HK holiday list in your work, so how can i make this list?

[2021-05-01 06:09] commenthol commented on #221
Hi @kvtong93,
there is a todo file at https://github.com/commenthol/date-holidays/blob/master/data/countries/HK.todo.
You may use this as a template.  Rename to HK.yaml and get started.
Please also check the specification as the contributing guidelines.
Your PR is very welcome.

[2021-05-01 06:17] commenthol commented on #220
v3 of this library uses es6 modules. v2 uses cjs.
Please take a note here that you use v3 for imports.
Please also consider that this wont work with jest #209.
This is a library which you could use the "classic" way with UMD or any bundler will work.
Take a look at examples/browser/*. To see it live and in colors check https://commenthol.github.io/date-holidays/.
As being independent from and fron

[2021-05-01 06:19] commenthol commented on #219
Please reopen for further comments...

[2021-05-01 06:19] #219 closed

[2021-05-01 14:23] kvtong93 commented on #221
Hi commenthol,

thanks for your reply, may I have an exmaple of China mainland? So I can  well understand how to fill with.

发自我的iPhone

[2021-05-02 07:45] commenthol commented on #202
Hi @fsodano1,
I created a [PR](https://github.com/commenthol/date-holidays-parser/pull/31) which will allow you to do that.

If merged you'll be able to use it in the following way.
E.g. to disable "Thanksgiving" in 2020:

[code]

[2021-05-03 19:57] commenthol commented on #221
Please take a look in data/countries. There you'll find what you are looking for.
Please also consider reading CONTRIBUTING.md as well as docs/specification.md first.

[2021-05-05 06:37] kvtong93 commented on #221
Hi commenthol,

I have a question about some holiday is based on lunar calendar how can i do with this. and how to set saturday and sunday as weekdays?

发自我的iPhone

[2021-05-07 02:28] jp928 commented on #168
I have same error on 3.2.0

[2021-05-08 10:25] kvtong93 commented on #221
HI Commenthol,

Please refer to below:

https://en.wikipedia.org/wiki/Lunar_calendar

It’s Chinese traditional calendar.

[2021-05-08 16:52] commenthol commented on #221
https://github.com/commenthol/date-holidays/blob/master/docs/specification.md#dates-in-chinese-calendar-lunar
Please be so kind and read the spec.

[2021-05-10 18:44] michaelhays opened #241 "[Question] .getHolidays() - how to retrieve multiple years"
This question was already asked in #119, but the asking user closed it immediately without receiving an answer.

Is there a pattern for using `.getHolidays()` for multiple years? Or do we just have to iterate over them?

Would you be open to a PR that allows passing an array of years to `.getHolidays()`?

[2021-05-11 05:42] #241 closed

[2021-05-12 02:14] michaelhays commented on #209
Disregard my last comment! I upgraded `date-holidays` to 3.3.0 and everything is working :)

[2021-05-12 07:34] #209 closed

[2021-05-12 07:34] jp928 commented on #209
@michaelhays Closed.

[2021-05-12 07:40] viljark opened #242 "Error: Cannot find module 'astronomia/julian' with version 3.3.0"
Getting this error after upgrading from 1.9.1 to 3.3.0.

Using it in TS project like this:

[code]

stack:
[code]

tsconfig.json

[code]

[2021-05-12 12:12] hosuaby commented on #209
I confirm that `3.3.0` works. With one small problem. For some strange reason code fails in Karma tests with :

[code]

But changing import by fixes the problem:

[code]

Infortunatly, `3.3.0` still based on plain old CommonsJs modules, so no tree-shakable.

[2021-05-16 06:10] commenthol commented on #242
What node version are you using?
Would you mind setting up a sample project on github which shows this issue?

[2021-05-16 06:33] commenthol commented on #242
I have tried with the above tsconfig.json on node@16.1.0 without any problems.
Please consider a fresh install of your project:

    rimraf node_modules package-lock.json yarn.lock
    npm i

[2021-05-16 09:34] viljark commented on #242
I'm using node v12.16.2, yarn 1.22.4, npm 6.14.4

I tried to re-create my issue, but I can't reproduce it while running in CodeSandbox, but it fails when I download it and run it in my machine with `yarn start` or `npm run start`.

Here is the CodeSandbox https://codesandbox.io/s/github/viljark/date-holidays-bug-repro/tree/main/

And here is the Github repo https://github.com/viljark/date-holidays

[2021-05-18 18:12] commenthol commented on #242
Hi @viljark, I cloned your repo, did npm install and all works. So from my point of view it's unrelated to date-holidays.
[code]

[2021-05-18 18:38] commenthol commented on #209
Hi @hosuaby, may I ask why you think that v3.3.0 still relies on CommonJs?

[2021-05-18 19:31] viljark commented on #242
Thanks for looking into it.
I upgaded from node 12.16.2 to 14.17.0 and everything works now. 🤷

[2021-05-18 19:46] hosuaby commented on #209
If I import as following, it import is resolved to file `node_modules/date-holidays/lib/index.cjs`, which is clearly a CommonJs module:

[code]

If I change the imports like that, the import will be resolved by source `node_modules/date-holidays/src/index.js`, which is ES6 module, but it depends on 'date-holidays-parser', which is a CommonJs module:

[code]

[2021-05-19 10:42] jp928 opened #243 "TS2351: This expression is not constructable. Type 'typeof import("date-holidays")' has no construct signatures."
Typescript version: 4.2.4
date-holiday version: 3.4.0
How to replicate:
[code]

[2021-05-19 10:50] #242 closed

[2021-05-19 10:51] commenthol commented on #243
The interface is
[code]

[2021-05-19 10:51] #243 closed

[2021-05-19 14:46] Nirostar opened #244 "Angular can't find constructors"
Hi, I can't get date-holidays working with angular. I get date_holidays_1.default is not a constructor. What did I do wrong.

I provided a codesandbox:
https://codesandbox.io/s/date-holidays-1vgtv?file=/src/app/app.component.ts

[2021-05-19 20:33] commenthol commented on #244
Hi @Nirostar,
This is indeed interesting. Thanks for posting the issue.
It looks to me that angular does not yet understand the npm ecmascript module exports.
In order to get things to work I'll need to update a couple of packages which depend on date-holidays. This will take some time.
Keep fingers crossed that this hopefully sorts out...

[2021-05-21 02:53] jp928 commented on #243
@commenthol
Thanks for your reply.

I had followed your instruction but I got
[code]

[2021-05-22 09:15] #244 closed

[2021-05-22 09:24] commenthol commented on #244
Hi @Nirostar,
Hope that the issues are fixed with 3.5.0. Please note the changes with the types import.
[code]
Thanks again for providing a sample project, such to find the issue.

[2021-05-22 09:29] commenthol commented on #243
Hi @jp928,
I hope the issue was found and has been corrected with #245.
Sorry for the confusion, but thanks to @Nirostar  sample project I could identify the issue.

[2021-05-24 02:36] jp928 commented on #244
@commenthol Thanks for your efforts on this. However, it seems like 3.5.0 doesn't fix this issue.
I am using NestJS which could be similar as Angular.

[2021-05-24 02:41] jp928 commented on #244
I tested on @Nirostar 's code base it works.
So, it could be something wrong on my end.

[2021-06-05 06:59] commenthol commented on #220
Have fun with https://github.com/commenthol/date-holidays-react-example

[2021-06-05 06:59] #220 closed

[2021-06-07 14:14] marinabrcls commented on #220
Thank you!!! This really helped! 👍🏼

[2021-06-08 02:13] marinabrcls opened #254 "How can I filter / remove some holidays?"
Hello!

I want to use this library to handle holidays on the front-end of my application, which is React.js. My back-end, though, is in Python, so I'm using a different library to handle holidays in there (workalendar). My problem is that the considered holidays are different in these libraries. My python lib is giving me **12** bank holidays in Brazil in 2021, and that's the amount I want. But he

[2021-06-12 08:05] commenthol commented on #254
Please check the interface description at https://github.com/commenthol/date-holidays-parser/blob/a9b244f1e4a5d6ce89704351f4d172bd17904ed8/types/index.d.ts#L121

Just for being curious: Why do you want to use 2 different holiday libraries? Instead of syncing both of them the one or the other way? Wouldn't it make more sense to check the accuracy and file PRs in one or the other lib to fix things a

[2021-06-12 14:45] commenthol commented on #221
Hi @kvtong93, Can you please review #257 and let me know if the rules are correct.
Thanks in advance for your help.

[2021-06-15 08:48] DaedalusDev opened #258 ""Hijra Dates" are unusable - Dates slide from 6 hours"
Hello,

some weeks ago, we have submit some pull requests to your repo in order to complete your library with some islamic countries.

Unfortunately, we are facing some serious errors while using the library.

## Reproduce

### Step to reproduce
1. Generate an holiday instance
2. Define "MA" (Morocco) as state
3. Check if `2021-06-26T18:00:00` is holiday 2000 times in a row (work for every dates)

[2021-06-15 10:19] DaedalusDev commented on #258
We investigate and found an issue in "cache" mechanism in a sibling library [date-holiday-parser](https://github.com/commenthol/date-holidays-parser).

In [src/Holidays.js#L388](https://github.com/commenthol/date-holidays-parser/blob/a9b244f1e4a5d6ce89704351f4d172bd17904ed8/src/Holidays.js#L388), the method `_rule.fn.inYear(year)` is called.
[code]

At first call, the cache is generated but will p

[2021-06-15 17:23] commenthol commented on #258
Hi @DaedalusDev,
Thank you very much for your bug description and your proposed changes.
Indeed those resolved the issue described.
On https://github.com/commenthol/date-holidays-parser/pull/33 you'll find the relevant fix.

[2021-06-15 17:29] commenthol commented on #258
date-holidays-parser@3.2.1 should have the fix included.
Thanks again and have fun with it.

[2021-06-15 17:29] #258 closed

[2021-06-17 14:57] marinabrcls commented on #254
Hey, thanks again for the reply! It helped me. :)

[2021-06-17 15:00] marinabrcls commented on #254
To answer your question: it wasn't really my choice to use both libs, it was required of me by the CTO, for many different reasons. The python lib was already there before. I could have my back-end lib send to the front-end the correct date, but that would take the time of a request and I wanted the date to be shown simultaneously, so that's why I needed another lib in the front-end.

Anyways, tha

[2021-06-18 05:00] #254 closed

[2021-06-19 13:54] #221 closed

[2021-06-19 13:54] #202 closed

[2021-06-19 18:37] ehoogeveen-medweb opened #260 "UMD version not working since switch to esm module"
Ever since the switch to an esm module in v3.0.0, `dist/umd.min.js` no longer works. I'm not sure exactly what's wrong with it, but the global `Holidays` object no longer gets defined in modern browsers like Chrome or Firefox, and IE11 (which we unfortunately still need to support) gives error `SCRIPT438: Object doesn't support property or method 'trunc'` (obviously, no `Holidays` object is create

[2021-06-19 19:24] commenthol commented on #260
Please use:
[code]

[2021-06-19 19:24] #260 closed

[2021-06-19 19:38] ehoogeveen-medweb commented on #260
Thanks, I'll update our code to use that (the 'trunc' error in IE11 was due to missing core-js in the testcase, should have figured that out myself).

[2021-06-24 10:04] alexsegura commented on #209
On my side, I had the following error:

[code]

If fixed it by adding this to `jest.config.js`

[code]

[2021-06-26 06:17] commenthol opened #264 "re-enable travis of github actions"
re-enable ci pipeline

[2021-06-30 02:09] kenmasumitsu commented on #168
When I set "esModuleInterop: true" in tsconfig.json, it worked.

tsconfig.json
[code]

sample
[code]

[2021-07-13 09:00] estyxx commented on #209
Hey I still have this problem, tried with the solution suggested above seems working:
I'm using the latest version `"date-holidays": "^3.8.0",`

[code]
If I change to import `import Holidays from 'date-holidays/src';` instead I got this:

[code]

[2021-07-16 11:47] centi opened #268 "Custom holidays.json build - how to use?"
Hi, I need to use a custom build of holidays.json (to reduce its size), but the documentation only describes how to create this build, but it doesn't show how to use it.

In our project, we use date-holidays as a NPM dependency. Is there a way to "inject" the custom JSON? I've read the API documentation as well, but I see no way, how to pass the JSON.

Can you please add information about how to u

[2021-07-16 15:19] capc0 commented on #168
im using

[code]

[2021-07-16 15:25] axe-me commented on #209
Add a module mapper into jest.config.js solved my problem:
[code]

[2021-08-03 18:38] commenthol commented on #268
Please consider documentation and take a look at [date-holidays-parser](https://github.com/commenthol/date-holidays-parser) if you want to use your custom lists.
Please consider contributing changes which fix, update or add new holidays for the benefit of all using this lib.

[2021-08-03 18:38] #268 closed

[2021-08-03 19:30] commenthol commented on #264
Done

[2021-08-03 19:30] #264 closed

[2021-08-06 15:28] zack-ccm commented on #168
I'm also seeing this issue with fresh create-react-app starting in version 3.

[2021-08-10 11:47] rantianhua opened #273 "Why there is no Chung Yeung Festival?"
Is there any reason that no Chung Yeung Festival in CN?

[2021-08-11 05:22] commenthol commented on #273
For Chinese public holidays the information was taken from Wikipedia as attributed.
Doing some research I found this official site http://www.gov.cn/zhengce/content/2020-11/25/content_5564127.htm for 2021.
Obtaining more information is difficult for me.
Could you please compile a list of public and observed holidays in China?
A PR would also be appreciated.

[2021-08-21 08:04] anthonylefoyeprodeo opened #274 "In France, the Pentecost day isn't a public holidays"
In France (FR), the Pentecost day isn't a public holidays. The type mus't be "observance" (easter 49)

[2021-10-01 07:35] jk-12345 opened #280 "No longer working directly in browsers"
Hi,

Firtly, this library is great and thanks for the nice work.

I have some issues : the only versions that directly work (CDN source) in a browser are the ones previous to version 3.0.0. And the 3.0.0 and above are not working (I get new Holiday is not a cosntructor error).

Why so ?

Thanks for helping out

[2021-10-01 11:51] ehoogeveen-medweb commented on #280
I encountered the same problem in #260: The solution is to replace `new Holidays()` with `new Holidays.default()` in your code.

[2021-10-01 13:16] #280 closed

[2021-10-05 13:42] Scarecrow69 opened #282 "Hungarian Santa Claus day have wrong type"
The hungarian Santa Claus day have the 'public' type but this holiday is 'observance' in this country.

[2021-10-06 10:18] tonganh commented on #168
This help me for that issue in Typescript.

[2021-10-11 21:45] lemnis opened #285 "Bevrijdingsdag isn't a "public" holiday"
https://github.com/commenthol/date-holidays/blob/master/data/countries/NL.yaml#L31

Even tough it is a official holiday, almost nobody gets a day off. Not sure which type is suited best. Source: https://www.rijksoverheid.nl/onderwerpen/tweede-wereldoorlog/vraag-en-antwoord/bevrijdingsdag-5-mei-vrije-dag

[2021-10-13 00:00] lemnis commented on #285
I am picking my brain to find an accurate answer, I am guessing `observance`.

Looked at some generic school calendar and it does state it is a public holiday on their lists. But maybe more interesting info is that my brother birthday is on 3 of may (2 days before bevrijdingsdag). And we always had "meivakantie" / "spring break" in that period, so in reality schools are closed on that day. (But ma

[2021-10-19 02:54] mrfrase3 opened #288 "New Zealand Holidays"
I've just had a bug ticket come across from New Zealand, where they have 16 regions and one island with "regional powers", but only 12 (including the island) have regional holidays and there are only 12 regions in the data for NZ.

The missing regions with no regional holidays are:
  - WKO - Waikato,
  - BOP - Bay of Plenty
  - GIS - Gisborne
  - MWT - Manawatu-Wanganui
  - TAS - Tasman

Is this c

[2021-10-19 21:24] commenthol commented on #288
Hi @mrfrase3,
Feel free to complete the missing regions.
Your PR is very welcome.

[2021-10-21 02:52] mrfrase3 commented on #288
There is also the new national holiday, Matariki, that should start next year given that the legislation passes, which it most likely will given the labour party's overwhelming majority.

It is based on a lunar calendar, which a committee has used to recommend dates for the next 30 years:
https://www.mbie.govt.nz/assets/matariki-dates-2022-to-2052-matariki-advisory-group.pdf

[2021-10-21 06:35] commenthol commented on #288
The Maori lunar calendar looks very interesting. But implementing a calendar for one holiday (which also requires human interaction) is maybe not the way to go. Therefore I'd propose to add this Holiday as a series:
[code]
In case that there are overlapping regions for one or the other holiday you may want to add that as a note. See https://github.com/commenthol/date-holidays/blob/01d95c6a508b499f

[2021-11-22 16:14] rubanraj54 opened #292 "How can I use this package in react native applications? (However, this package itself specifies a main module field that could not be resolved )"
Hi,

Thanks for the great package.

I would like to use this package in react native applications, but I am getting the following error.

<img width="396" alt="Screenshot 2021-11-22 at 17 15 04" src="https://user-images.githubusercontent.com/10024405/142896425-dd56f601-f3a8-41a5-9630-697784cba206.png">

I tried this solution(https://stackoverflow.com/a/60126739/2708249) but didn't work.

Could you

[2021-11-26 18:10] commenthol commented on #288
Hi @mrfrase3, Can you please take a look at #291?
If this fixes the issue please let me know.

[2021-11-26 18:35] mrfrase3 commented on #288
Looks like it fixed the issue of missing regions and the new national holiday is fixed, although not their regional holidays. E.g. bay of plenty has the same regional holiday date as Auckland.

I started trying to make sense of it all in this Google doc, then realised the only way to get super accurate data would be to crawl through local government websites or even email them to confirm. Suffice

[2021-11-27 05:49] commenthol commented on #288
Hi @mrfrase3, Thanks for the Google doc, that helped with understanding the regional structure inside the provinces.
Now all provinces contain a Provincial anniversary day.

NZ-CAN-S South Canterbury was renamed to NZ-CAN-Timaru.
NZ-WTC-Buller district was added to change here to Nelson Provincial Anniversary Day.
Please advise if better naming on districts are desired/ appropriate.

It would be i

[2021-11-27 08:26] commenthol commented on #36
Hi @argasek, @oprogramador, @rikur PR#296 adds support for Israel holidays.
Would you mind reviewing the proposed?

[2021-11-27 12:07] rikur commented on #36
I'm not local to the area, but I checked a few dates and seemed to match with what I have.

[2021-11-28 01:44] oprogramador commented on #36
@commenthol

Thanks for your PR.

I compared only 2022 with https://www.timeanddate.com/holidays/israel/2022 and I found some errors. Some of the holidays in your PR don't seem to be in this list.

[2021-12-01 15:51] RosCoder commented on #292
@rubanraj54
Hey! Metro does not support packages with `.cjs` sources. This solution works for me:
https://github.com/facebook/metro/issues/535#issuecomment-970443661

[2021-12-09 09:20] rubanraj54 commented on #292
@RosCoder Thanks for the hint, let me try your solution.

[2021-12-20 14:56] prodzpod opened #300 "Regarding the change of Korean holiday substitution law since 2014"
[Here's what I'm trying to do.](https://gist.github.com/prodzpod/f373fcf6ce30941be66c98425790e4b6) As you can see, there are two problems with this set right now.

- Firstly, 'P3D' does not 'center' the holiday, despite the actual definition of the holiday being 'take a day off 1 day before and after', this is minor as it can be manually adjusted post-calling, but it does mean the data is not enti

[2021-12-21 06:31] commenthol commented on #300
Hi @prodzpod, Maybe it is best to split up the 3day holiday period into 3 single days with their own rule.

[2021-12-21 12:55] prodzpod commented on #300
This does fix the 'center' problem. However, the [substitution problem persists.](https://github.com/prodzpod/date-holidays/blob/kr-substitution/data/countries/KR.yaml#L58)

AFAIK, there is no way to detect if a holiday will end up on another holiday ('MM-DD', 'MM-DE if MM-DD is public holiday' detect itself and freaks out), and there is no way to place a holiday on next workday since the date. th

[2021-12-23 15:12] tiec7 commented on #168
I used this to make it work.

This issue is also open since more than a year, if you don't intend to fix it, would be nice at least to update documentation.

[2021-12-23 15:50] afuerstenau opened #301 "Using date-holidays with rollup"
When I just add date-holidays to package.json I get this:
`
[!] Error: Unexpected token (Note that you need @rollup/plugin-json to import JSON files)
node_modules/moment-timezone/data/packed/latest.json (2:10)
1: {
2:   "version": "2021e",
              ^
3:   "zones": [
4:     "Africa/Abidjan|LMT GMT|g.8 0|01|-2ldXH.Q|48e5",
Error: Unexpected token (Note that you need @rollup/plugin-json to impor

[2021-12-28 11:00] commenthol commented on #288
Hi @mrfrase3,
Do you have any updates on my above remarks?
Did you have some time to review the changes made in PR#291?
I would like to prepare for merging the PR as I think things have improved there.

[2021-12-28 11:15] mrfrase3 commented on #288
Hey @commenthol

Sorry, I missed the November message. The current PR is definitely an improvement, and it's probably important to ship the new holiday.

I think the further sub-regional issues are a bit minor and, after more pondering, can be solved in a later PR.

[2021-12-28 11:25] commenthol commented on #300
Maybe this rule does fit the needs?
[code]

[2021-12-31 01:28] prodzpod commented on #300
That is close to what I have now in the current commit, but it's inaccurate.

For example, in 2017, a day before Chuseok is also Gaecheonjeol (10-03), of which next Friday was substituted.
In 2025, Children's Day and Buddha's Birthday overlaps, of which one of them gets substituted to the next day.
In 2039, Chuseok is a Sunday, and the day later is also Gaecheonjeol (10-03), so two days after that

[2022-01-03 07:11] commenthol commented on #300
Hi @prodzpod,
May you please take a look at https://github.com/commenthol/date-holidays-parser/pull/42?
There I added a new rule which should give you the possibility to move a holiday based on another one.
Please let me know if the proposed fits into the required.

[2022-01-04 15:39] VirtualDOMinic opened #303 "GB Spring bank holiday marked as Platinum Jubilee (also a potential issue with Easter Sunday)"
https://github.com/commenthol/date-holidays/blob/cff4a080db1421728dddc777bb4ae6e852ea401b/data/countries/GB.yaml#L59-L61

Hi,

Thanks for this useful library!

There is a mistake due to some confusion with the setting of the Platinum Jubilee as [the article you've referenced](https://www.gov.uk/government/news/extra-bank-holiday-to-mark-the-queens-platinum-jubilee-in-2022) is a little hard to pars

[2022-01-04 18:12] commenthol commented on #303
Hi @VirtualDOMinic, thanks for rising this issue. Can you please review the changes in #304?

[2022-01-04 18:16] VirtualDOMinic commented on #303
Thanks @commenthol ! Looking over it now. Appears that CI is failing due to outdated snapshots, FYI

[2022-01-04 18:21] commenthol commented on #303
Thanks for the reminder. Fixtures are up-to-date now and CI is fine again.

[2022-01-04 18:56] #303 closed

[2022-01-05 04:55] prodzpod commented on #300
I think that will solve the issue. will be back with a PR.

[2022-01-05 04:55] #300 closed

[2022-01-05 13:32] rubanraj54 commented on #292
@RosCoder Thanks, your solution fixed the issue.

[2022-01-05 13:32] #292 closed

[2022-01-06 04:00] svict4 opened #305 "Christmas Island and Cocos Islands are Australian territories"
Hey was wondering if it was worth moving [Christmas Island](https://github.com/commenthol/date-holidays/blob/master/data/countries/CX.yaml) and [Cocos Islands](https://github.com/commenthol/date-holidays/blob/master/data/countries/CC.yaml) to the Australia file, just like [Norfolk Island](https://github.com/commenthol/date-holidays/pull/294).

Despite them having their own alpha-2 country codes, t

[2022-01-07 07:32] commenthol commented on #305
Hi @svict4,
My questions:
- Are CX and CC considered being states/ regions in AU?
- Are holidays in CX and CC mainly following the holidays in AU?

From what I see is that they are considerable different.
You may take a look at FR and the assigned oversees territories like YT or MQ. Please bear in mind that these territories strictly follow the FR holidays with one exception.

Taking a deeper look

[2022-01-12 19:57] oprogramador opened #309 "semantic release with publishing to NPM"
I see that recently https://github.com/commenthol/date-holidays/pull/308 was merged but no new NPM version is published.

IMO it would be great to use https://github.com/semantic-release/npm to publish automatically to NPM,  I see that the commit messages are already according to the semantic release.

[2022-01-12 19:58] oprogramador commented on #36
@commenthol

Thanks for your implementation and merging my PRs.

Now I close it as it's already implemented but please take a look at https://github.com/commenthol/date-holidays/issues/309

[2022-01-12 19:58] #36 closed

[2022-01-12 21:15] commenthol commented on #309
I prefer to choose a manual approach here.

[2022-01-12 21:15] #309 closed

[2022-01-18 15:36] Gillardo opened #310 "Reduce bundle size to only 1 country in Angular"
How can i do this, i only need 1 country at the moment, and the js files have increased in size loads.

We are using Angular 13.

Also we are getting this message.
![image](https://user-images.githubusercontent.com/7406381/149968317-30166abc-b858-429e-96a3-d79430166a22.png)

Is this project going to be updated as moment-timezone is now considered an out-dated project

[2022-01-25 09:20] CodingByJerez opened #311 "Suggestion: add id to recognize the holiday in the years"
it's all in the title :) I think it would be interesting to add a unique ID to recognize the holiday in years.
 It would make it possible to make recurrences cleaner than compared to the name.

if not is it possible to use the "rule" as ID?

[2022-01-29 16:40] commenthol commented on #311
Reading old issues might provide reasonable answers #10 #153

[2022-01-29 16:40] #311 closed

[2022-02-25 19:42] commenthol commented on #310
1. RTFM
2. luxor or date-fn still have problems with dates switching from or to DST. During that "switching" times the date conversions are wrong. Therefore I still have to stick with moment-timezone as being the only source where the conversions are correct.

[2022-02-25 19:42] #310 closed

[2022-02-25 19:44] commenthol commented on #305
@svict4, Ping. Any thoughts on my comments above?

[2022-02-25 19:46] #288 closed

[2022-02-25 19:47] #273 closed

[2022-02-25 19:48] #148 closed

[2022-02-25 19:48] #167 closed

[2022-02-25 19:49] #177 closed

[2022-02-25 19:50] #162 closed

[2022-02-25 19:50] #150 closed

[2022-02-25 19:51] #114 closed

[2022-02-25 19:51] #100 closed

[2022-02-25 19:54] commenthol commented on #20
Please check the Israel holidays for Hanukkah.

[2022-02-25 19:54] #20 closed

[2022-02-25 19:56] commenthol commented on #84
eslint-plugin-yml was added in https://github.com/commenthol/date-holidays/tree/e65ebeb65edefa1a22a62ec341bcd78d1f47eee1

[2022-02-25 19:56] #84 closed

[2022-03-06 09:42] ianonymousdev opened #315 "Unexpected token export"
I am using this module in a NodeJS application. When I try to build the project it throws the following error. I am not sure what is wrong. Any help would be appreciated. I am using next with babel. thanks

[code]

[2022-03-06 12:12] RobBossTheFirst opened #316 ""Uncaught TypeError: Super expression must either be null or a function""
When i add this package to my angular 11 project, and use "optimized: true" for my production build i get following error:

<img width="1679" alt="Screenshot 2022-03-06 at 13 09 13" src="https://user-images.githubusercontent.com/29105227/156922434-29f5028b-a0fb-4104-9f87-86008aae44e1.png">

I'm not sure how this happens but i think its due to the minification or something. I have too less experien

[2022-03-09 14:43] #316 closed

[2022-03-23 06:06] chao-ryan opened #318 "get error "Must use import to load ES Module" in nestjs project"
environment:
In nestjs project's package.json
"date-holidays": "3.14.4"
"@nestjs/core": "7.6.12",
...

holiday.service.ts
import Holidays from "date-holidays";

getHolidays() {
  const holidays = new Holidays();
}

when i run project, i get error
Error [ERR_REQUIRE_ESM]: Must use import to load ES Module: /media/ryan/home/work/sources/ryan-test-project/node_modules/astronomia/data/vsop87Bearth.js

[2022-03-28 06:43] ALi-Hosseinzad opened #319 "Can you support for Iran"
Please provide support for Iran. Refer to the below link:
[https://www.timeanddate.com/calendar/?year=2022&country=75]()

[2022-04-01 09:37] HBM08 opened #321 "DE-HE 12-31 is not really a public holiday"
It seems that for 12-31 only retailers have to close after 14:00 but the rest of the guys need to work, so I guess this would make it also a bank holiday and not a public one right?

[2022-04-03 07:48] commenthol commented on #321
You are right for the states HB, HE, TH. In these states each Sunday is counted as a public holiday.
Maybe it is best to remove all the rules containing "12-31 14:00 if sunday then 00:00".
The country wide rule at https://github.com/commenthol/date-holidays/blob/ac5b863aa1f8e9bb5de54ade2d101da4df44c95b/data/countries/DE.yaml#L108-L110 would already be correctly attributed as you propose.

[2022-04-03 08:02] commenthol commented on #319
Hi @ALi-Hosseinzad,
I am confused as you state in the headline "Iran" but request support for "India".
Supposing you are asking for support for Iran I would be happy if you could help us here.
The current library supports the islamic calendar using Hijra Dates calculated according to https://www.ummulqura.org.sa/
If these calculations also apply for Iran, please consider looking at our [specificat

[2022-04-04 08:18] HBM08 commented on #321
That is really great, thanks for fixing it that fast :)
Any idea when would this be deployed and available ?

[2022-04-06 11:45] digitalw opened #323 "Good Friday is not a public holiday in AT"
I get Good Friday (e.g. 15.04.2022) as a public holiday in AT. This has changed in 2019 (https://www.arbeiterkammer.at/beratung/arbeitundrecht/Arbeitszeit/ArbeitszeitundRuhepausen/Persoenlicher_Feiertag.html)

[2022-04-07 21:30] dlcaio opened #324 "Get holiday time on respective location's time"
Hey guys, really nice work, congratulations!

I was wondering if there's a way to retrieve holidays in their respective local time, without timezone.

In a way that, as an example, Christmas day's start date and end date would be the same for all locations that celebrate it. Start date would be something like "2022-12-25 00:00:00" for this year.

Is that by any chance possible already ? Would be p

[2022-04-09 09:52] commenthol commented on #323
Hi @digitalw,
Good Friday is attributed as "optional". See https://commenthol.github.io/date-holidays/#-/2022/AT

[2022-04-09 10:04] commenthol commented on #324
Each date object returns `date`, `start`, `end`, `name` and `type`

Only `start` and `end` respect the timezone of the country, where `date` represents the "local" date.

e.g.
[code]

[2022-04-09 10:04] #324 closed

[2022-04-09 10:05] #321 closed

[2022-04-09 18:30] dlcaio commented on #324
Hey @commenthol, that makes sense, I didn't realize there was `date` prop that was in local time.

I think I stumbled on another solution, just using `setTimezone()` and passing `timezone` as an undefined argument. From the docs:

[code]
Thanks for the fast response : D

[2022-04-10 13:45] Alxandr opened #326 "Possible to move the data to a separate repository?"
Hi. I'm looking into creating a similar project to this in rust, and I think it would be a real shame to have to duplicate the effort of keeping the data-set up to date, so I was wondering what you thought about moving the data-set to a separate repository that can be included either as a git-module, or kept in sync using some github actions? That way, there could be multiple projects collaboratin

[2022-04-11 05:51] commenthol commented on #326
Hi @Alexandr,
That's great news that you want to spend the efforts on using this data-set for a rust based parser.
I think the project is already structured the way you are proposing.
This repository contains solely the data and the assigned test-set together with some build scripts.
The parser is already in a different repository.
For running the tests a very thin layer exposing the parser togeth

[2022-04-12 12:29] Alxandr commented on #326
I see. I just saw the `src` folder and assumed the functionality lived in there, but it's just a thin shim to the parser. I would argue that this is a tiny bit confusing - but it's not a big deal. I'll just sub-module in this repository and get working on getting things working for now, and we'll see how far I get :).

[2022-04-14 07:13] ALi-Hosseinzad commented on #319
Hi @commenthol
I am sorry about "India" that was a typing error.
No Iranian calendar is very different from the Islamic calendar.
you can see in this link:
[](https://www.iranian-calendar.com)
The Iranian calendar completely is different from other calendars.

[2022-04-15 06:02] #326 closed

[2022-04-18 21:45] bogdanhotea-doctari commented on #315
Hi @commenthol ,

I've the same issue after I've update from 3.14.2 to 3.14.8 I've tried to enable es modules suport for Jest, but with no luck.
Is there any way to get rid of this issue ?

Regards,
Bogdan

[2022-04-21 14:07] torvalde opened #331 "Holy Saturday (Easter) is not a public holiday in Norway"
Holy Saturday is not a public holiday in Norway, is it possible to remove:

     easter -1:
        _name: easter -1

from the norwegian file?

[2022-04-22 03:03] albertchua opened #332 "26-Dec-2022 is a replacement substitute holiday for Malaysia"
26-Dec-2022 is a replacement substitute holiday for Malaysia. It's missing from the 2022 calendar.
![image](https://user-images.githubusercontent.com/50098198/164588089-5f97e37e-115f-4284-8822-d0e641d7400c.png)

[2022-04-23 09:34] commenthol commented on #323
@digitalw is optional the correct attribution here?

[2022-04-23 09:37] commenthol commented on #332
PR #330 should have solved your issue. See https://commenthol.github.io/date-holidays/#-/2022/MY

[2022-04-23 09:37] #332 closed

[2022-04-23 09:39] commenthol commented on #99
Both Indonesia any Malaysia are supported.

[2022-04-23 09:39] #99 closed

[2022-04-23 10:08] commenthol commented on #319
Hi @ALi-Hosseinzad,
I've created PR #335 which adds support for Iran. Can you please check the holiday names its translations and dates?
https://github.com/commenthol/date-holidays/pull/335/files#diff-56525628d7df491ff8870eb224bef31ec95e988dee4fd71be7e8c9f3beed7064

[2022-04-23 10:13] #331 closed

[2022-04-23 10:56] digitalw commented on #323
Hi, Thanks.
I'm not sure about the optional. As far as I can tel, it used to be an optional holiday (Protestant), and is now no holiday at all.

[2022-04-25 07:40] ALi-Hosseinzad commented on #319
Hi @commenthol
Thank you for your attention,
Yes, It completely is true,

[2022-05-03 13:05] FrankW76 commented on #49
I am also at a complete loss of how to run this in a browser. I have it running in nodejs but I have no clue how to get this working in a browser.

I tried browerify. But it gives errors. I tried babelify but it gave other errors. I tried other things, but all giving errors.

Looked for the README file but cannot find it. I can get the example to run but I still have no clue as index.js seems to c

[2022-05-03 13:20] FrankW76 opened #338 "Can you please add any documentation on how to use this in a browser"
I created a small script which runs fine in npm (after an npm install)

[code]

But can you please provide some instructions on how to make this work in a browser?
I looked at https://commenthol.github.io/date-holidays/ and at the index.js used. But I can't make anything out of  it.

I tried using browserify on my script above but it gives some errors about import/export.
I tried babelify on my sc

[2022-05-12 09:18] pzien commented on #170
Great library! But would it be possible to remove the moment-timezone dependency?

[2022-05-21 06:23] #323 closed

[2022-05-21 06:24] commenthol commented on #319
v3.15.0 now contains Iranian holidays.

[2022-05-21 06:24] #319 closed

[2022-05-21 06:25] commenthol commented on #338
Please take a look at https://github.com/commenthol/date-holidays#cdn

[2022-05-21 06:25] #338 closed

[2022-06-08 13:05] muzamalidrees opened #340 "Module parse failed: Unexpected token"
Hi guys,
I am using this library in my react app, I want to update the version from 1.8.3 to 3.16.0. but when I updated the version I am having this error on npm start:

![image](https://user-images.githubusercontent.com/47274591/172623386-202c1ff7-bd05-426c-b58c-18cfc51985af.png)

Can you guys get me the way to solve this?
Thank you!

[2022-06-09 08:10] erikskaar opened #341 "23rd of June is not a holiday in Norway"
As the title states, June 23 is not a holiday in Norway. It is a 'merkedag', which means that it is a day to be noted, but it is not a holiday in any shape or form.

[2022-06-10 13:22] Borales commented on #315
For Jest - I managed to make it work with this jest config:

[code]

It basically forces the node to use `cjs` files instead of `module` js-files.

[2022-06-10 14:08] bogdanhotea-doctari commented on #315
Works like a charm!
Thanks a lot!

[2022-06-12 05:23] commenthol commented on #341
Hi @erikskaar,

This project distinguishes the "holidays" into different types. See [type-of-holidays](https://github.com/commenthol/date-holidays/blob/master/docs/specification.md#types-of-holidays).

Midsummar Eve is attributed as [type=observance](https://github.com/commenthol/date-holidays/blob/820593b7eac5457469a1ad22636360217863f2b1/data/countries/NO.yaml#L56) which should have a similar mea

[2022-06-12 05:54] commenthol commented on #340
Can you take a look at #315?
I think this is related to your projects setup.

[2022-06-22 09:23] erikskaar commented on #341
Oh, my bad. Thanks :)

[2022-06-22 09:23] #341 closed

[2022-06-24 01:25] muzamalidrees commented on #340
@commenthol  #315  suggests a solution for jest config and I m not using jest at all.

[2022-06-24 18:28] sebastianarena opened #343 "Holidays in Argentina"
Hello there!
Here's a list of holidays for Argentina in 2022: https://www.argentina.gob.ar/interior/feriados-nacionales-2022
From what I see, you'll need to add the following to the current list:

October 7th: an added holiday with tourists means
November 20th: should be in place of November 28th
November 21st: an added holiday with tourists means

[2022-06-26 20:04] commenthol commented on #343
Hola @sebastianarena,
Gracias por la notificación. ¿Me puedas verificar los cambios dentro el PR #344?

[2022-06-30 15:58] sebastianarena commented on #343
@commenthol parece estar todo bien!

[2022-07-01 05:34] #343 closed

[2022-08-11 09:22] leykee opened #346 "Typo in French translation for 08-01 in CH"
https://github.com/commenthol/date-holidays/blob/76e697eeae8ffddcf2488aaecc14590764edbbc3/data/countries/CH.yaml#L55

Should be "Fête nationale"

[2022-08-12 14:51] #346 closed

[2022-08-17 07:58] Gillardo opened #348 "Warning when building in angular 14 project"
This was ok when i was using angular 13 which i believe targets es2018, but since updating i am getting these errors.

![image](https://user-images.githubusercontent.com/7406381/185065919-01b21ea4-72bc-47ff-85b1-ee1edd0587a9.png)

Here is my tsconfig

[code]

[2022-08-18 14:46] commenthol commented on #348
Hi @Gillardo,
As said this project offers both ESM and CJS via package.json exports.
If you think the issue is unrelated to your project setup, please provide a fix via a PR.

[2022-08-18 14:46] #348 closed

[2022-08-18 14:46] #340 closed

[2022-08-19 11:49] Tobias-github-experimental opened #349 "Missing new Holliday in Germany Mecklenburg-Vorpommern"
Next year there will be a new holiday in  Germany in Mecklenburg-Vorpommern at the 8th of march.  This holiday wibb be the International Women's Day.

[2022-08-23 09:07] leykee opened #350 "Jeune federal is not an official holiday in Geneva, Switzerland"
https://github.com/commenthol/date-holidays/blob/7721e58f6f8dfd5762c8741e28aacdf38c2f6565/data/countries/CH.yaml#L678

[2022-08-23 09:54] kevinley commented on #350
Instead they have the Jeune Genevois, which is already defined in the CH-GE specific holidays

[2022-08-24 13:06] commenthol commented on #350
Thanks

[2022-08-24 13:06] #350 closed

[2022-08-24 13:09] #349 closed

[2022-08-28 20:05] Gillardo commented on #348
Sorry but i do not think this is correct.  It also states this on the deepmerge github
https://github.com/TehShrike/deepmerge/issues/250

Which as i stated, was one of the errors when using your library
![image](https://user-images.githubusercontent.com/7406381/187092399-d2f4210f-c72d-4519-bd1d-4cac08acd711.png)

[2022-09-07 07:51] MartinX3 opened #354 "[3.16.5][Typescript] 1:20 error HolidaysTypes not found in 'date-holidays' import/named"
It happens now and worked before.

[code]

IntelliJ tells me
`ESLint: HolidaysTypes not found in 'date-holidays'(import/named)`

My code
[code]

[2022-09-23 16:38] hamboomger opened #360 "Unique identifier for the holiday"
Hello, I need a way to tell if 2 holidays from different countries are the same holiday (for example Internation Women's Day), but still be able to display the name of the holiday in the native language. If you want I can make a PR myself :)

[2022-10-05 17:24] pmlk opened #361 "Easter isn't listed as a holiday for DE-HE 2021"
This issue came up after upgrading from `3.8.0` to `3.16.7`. It seems to have started with version ~~`3.15.0`~~ `3.14.5`.

This may be related to #14, since Easter is always on a Sunday, it may not be considered a holiday. However, "2. Weichnachtstag" was also on a Sunday in 2021, but it is listed as a holiday. So if excluding all Sundays were a rule, it seems to be a bit inconsistent.

[2022-10-11 11:30] adminy opened #362 "Irish bank holidays for octomber"
This Rule excludes 31st of octomber for irish bank holidays.

[2022-10-12 03:57] commenthol commented on #362
Hi @adminy,
Would `1st Monday before 11-01:` solve the issue?
If so, would you please mind to file a PR?

[2022-10-12 04:06] commenthol commented on #360
Hi @hamboomger,
There is already a "unique identifier" by the `rule` attribute itself.
Your described usecase is kind of special, therefore I don't see the need to add this into this project.
The provided data and the parser are IMHO generic enough that you can build your usecase independently.

[2022-10-12 04:13] commenthol commented on #361
Hi @pmlk, I have check the data in DE.yaml but there has not been an attribution on easter for Hessen so far.
If easter shall be added for DE-HE, please consider filing a PR.

[2022-10-12 18:28] pmlk commented on #361
I'd be happy to file a PR, but I would need some help as I don't quite understand the syntax in the yaml files.

Also, I do see something for easter for DE-HE: https://github.com/commenthol/date-holidays/blob/master/data/countries/DE.yaml#L200

As said, it did show up before version `3.14.5`, but I don't quite understand why it vanished.

[2022-10-22 07:30] #362 closed

[2022-10-22 07:44] commenthol commented on #361
Hi @pmlk ,
I created PR#365 which should fix the issue. I would also consider Pentecost as public holiday then.
Please advise if changes are required.

[2022-10-22 08:12] pmlk commented on #361
Awesome! Thank you! [According to Wikipedia](https://de.wikipedia.org/wiki/Gesetzliche_Feiertage_in_Deutschland) Pentecost is also a public holiday in Hessen. So that looks good to me 👍

Thank you so much! 🙏

[2022-10-31 14:03] reschandreas opened #366 "02.11 is not a holiday in Germany, 01.11 also only in some states."
Hi! I noticed that the second of november is marked as a holiday in Germany, according to https://de.m.wikipedia.org/wiki/Gesetzliche_Feiertage_in_Deutschland that's not true. Also the first of November is a holiday in 5 out of 16 states, not everywhere.

[2022-10-31 16:51] dmwelch opened #367 "Get holidays by faith"
Hi team,

I'd like to use this package to support my scout troop, which consists of Christians, Jews, and Hindus currently.  In addition to our region, I'd also like to include the holidays for the faiths we represent so we can plan our annual program without excluding any group over another.  How would that best be done?

Cheers,
Scoutmaster Dave

[2022-11-02 04:38] commenthol commented on #367
Hi @dmwelch,
I'd recommend you to start your own calendar with date-holidays-parser.
Please take a look at https://github.com/commenthol/date-holidays-parser/blob/master/test/fixtures/custom.yaml and https://github.com/commenthol/date-holidays-parser/blob/master/test/Holidays.mocha.js#L18 on putting things together.
For conversion from yaml to json you might want to use the CLI of [js-yaml](https:

[2022-11-02 04:48] commenthol commented on #366
Hi @reschandreas,

Can you please check https://github.com/commenthol/date-holidays/blob/master/docs/specification.md#types-of-holidays?

The holidays all have different types which are in accordance with your stated source.

[2022-11-02 07:50] reschandreas commented on #366
Hi @commenthol , sorry, I should've checked the docs. Thank you very much!

[2022-11-02 07:50] #366 closed

[2022-11-04 14:04] sid028 commented on #292
Getting same issue : https://stackoverflow.com/questions/74318272/date-holidays-invariant-violation-module-appregistry-is-not-a-registered-calla

[2022-11-04 21:11] J-Hoh opened #368 "School holidays"
Shouldn't "school" type holidays include the actual school holidays?

Listed below is an example of the past months fall break here in germany across different states:
![image](https://user-images.githubusercontent.com/64546226/200068491-e49c3796-f30e-44fc-a01f-5d033c903871.png)

So far the country *.yaml's only contains single days, mostly bridging actual public holidays.
The only downside I'm se

[2022-11-04 21:46] J-Hoh commented on #368
Much like suggested in #367 I'll probably introduce my own calendar.
I am still wondering if anyone else would need such a repository of vacations, y'know when I'm already creating one.

[2022-11-04 21:46] #368 closed

[2022-11-07 20:47] sebastianarena opened #371 "Argentina is getting Nov 20th wrong"
Hello,
Argentina has a holiday on Nov 20th.
For some reason this year they also decided to do Nov 21th.
The main problem is that for some reason is showing Nov 28th as the actual holiday.
Here's a calendar for 2022: https://www.argentina.gob.ar/interior/feriados-nacionales-2022
Thanks

[2022-11-09 08:12] RogueCode007 opened #372 "Easter Monday isn't listed as a public holiday in Lithuania"
Noticed that Easter Monday (the day after Easter Sunday) isn't listed as a public holiday in LT.yaml.
It is a publicly recognised holiday, wikipedia reference [here](https://en.wikipedia.org/wiki/Public_holidays_in_Lithuania)

[2022-11-10 10:27] sid028 opened #374 "holidays.isHoliday() returning Array instead of true false"
Hi, I am trying to fetch the next working day of the bank. To find that I am trying the bellow code but the isHoliday() function is not returning me boolean value. but if I use something like holidays.isHoliday(new Date()) in this case it returns true and false.

Here is my method :

[code]

Please let me know how will it work!!

Thanks

[2022-11-10 10:35] #374 closed

[2022-11-11 03:49] #361 closed

[2022-11-11 04:25] commenthol commented on #371
Hi @sebastianarena ,
I cannot reproduce as our test fixture set states that Nov 21th is calculated as the holiday.
Please take a look at https://github.com/commenthol/date-holidays/blob/master/test/fixtures/AR-2022.json#L147

[2022-11-11 04:25] #371 closed

[2022-11-11 04:25] #360 closed

[2022-11-11 04:31] commenthol commented on #354
HI @MartinX3,
I am sorry but I can't help here. The type definitions have not been touched for some while.
So please try to be more specific and try to reproduce which version works and since when it is broken.
Please also make sure that your tsconfig matches your project changes...
Feel free to reopen the issue if you have more information for us.

[2022-11-11 04:31] #354 closed

[2022-11-11 04:51] #372 closed

[2022-11-12 12:03] MartinX3 commented on #354
I fixed it by using
`import Holidays, * as DateHolidays from 'date-holidays'`
`it: DateHolidays.HolidaysTypes.Holiday`

Maybe caused by https://github.com/import-js/eslint-plugin-import/issues/1883 or https://github.com/import-js/eslint-plugin-import/issues/1845

[2022-11-19 13:28] jamesmwase opened #377 "There is an issue Data.cjs file"
It happened first time I forgot to catch it. This is the second time this issue has happened in my knowledge so I figured I might as well report it.

node_modules/date-holidays-parser/lib/Data.cjs:132
          (state && tmp.states && (tmp = tmp.states[state]))
                        ^

[TypeError: Cannot read properties of undefined (reading 'states')
  at Data.getRules (/home/james/Documents/ap

[2022-11-28 12:40] lucasra1 opened #379 "HU rest days to create 4 day weekends"
`if a bank holiday falls on a Tuesday or a Thursday, the preceding Monday or the following Friday will become a rest day to create a 4-day long weekend.`

https://helpers.hu/staffing-solutions/bank-holidays-in-2022-hungary/

Is there a way to reflect that in this library?